<div class="l_main_gutter product_list">

  
   <div class="breadcrumb">
    <ul>
      <% 
      @var = @tab_breadcrumb.count + 1
      @tab_breadcrumb.each do |breadcrumb| %>
      	<% if @var == (@tab_breadcrumb.count + 1) %>
  		  	<li><a class="/" style="z-index:<%= @var %>" href="<%= breadcrumb[:path] %>"><i class="home_icon"></i><%= breadcrumb[:title] %></a></li>
  		<% else %>
  			<li><a class="" style="z-index:<%= @var %>" href="<%= breadcrumb[:path] %>"><%= breadcrumb[:title] %></a></li>
  		<% end %>
  	  
  	  	<%  @var = @var -1 %>
  	  <% end %>
  	  
  	  
   <!--
   <li><a class="/" style="z-index:4"><i class="home_icon"></i>Accueil</a></li>
      <li><a class="" style="z-index:3">Produits</a></li>
      <li><a class="" style="z-index:2">Fruits et légumes</a></li>
-->
    </ul>
    
    <div class="activation">
      <span>activer les filtres:</span><span class="toggle on">oui <span class="switch"></span></span>
    </div>
    <div class="filters">
      <span>trier par</span><span class="filter">date d'ajout <i class="vertical_devider"></i><i class="down_arrow"></i>&nbsp;</span>
    </div>
  </div>

  <div class="filter_zone">
    <p class="title">Filtres</p>
    <p class="label">N'afficher que:</p>
    <ul>
      <li>boeuf</li>
      <li>fruits et légumes</li>
      <li>canard</li>
      <li>poisson</li>
      <li>oeufs</li>
    </ul>
  </div>

<h1><%= @titre %> <%= @produits.count %></h1>
<% if @produits.count == 0 %>
  <p> Aucun produit</p>
<% else %>
	<!--<% @produits.each do |produit| %>
	
	
      <p> <%= produit.titre %> </p>
      <p> <%= produit.description %> </p>
      <p> <%= produit.user.nom %> </p>
      <p> <%= produit.prix_unite_ht %> </p>
      <p> <%= produit.stock.categorie.nom %></p>
      <%= link_to "Voir le produit", page_produit_show_path(produit.user_id,produit), :class => "btn btn-primary" %>
    <% end %> -->
	
	<!-- _______________________ first block ________________________________________-->
	<% if @produits_first_block.count > 0 %>
		<ul class="l_product_list huge_left">
			 <li class="is_huge">
			      <div class="l_photo_description is_huge is_vertical">
			        <div class="image">
			          <div class="has_corners_shadow is_huge">
			          	<% if !(@first_huge_product.stock.default_image).nil? %>
			          		<%= link_to page_produit_show_path(@first_huge_product.user_id,@first_huge_product) do %>
			          			<%= image_tag (@first_huge_product.stock.default_image).image_url(:is_huge) if !(@first_huge_product.stock.default_image).nil? %>
			          		<% end %>
			          	<% end %>
			          </div>
			        </div>
			        <div class="content">
			          <p class="title"> <%= link_to @first_huge_product.titre, page_produit_show_path(@first_huge_product.user_id,@first_huge_product), :class => "title" %></p>
			          <p class="description"><%= @first_huge_product.description %></p>
			          <span class="price "><%= @first_huge_product.prix_unite_ttc %> € <span class="is_italic">les <%= "#{@first_huge_product.quantite} #{@first_huge_product.stock.unite_mesure.nom}"  %></span></span>
			        </div>
			      </div>
    		</li>
			<% @produits_first_block.each do |p| %>
				<li>
			      <div class="l_photo_description is_medium is_vertical">
			        <div class="image">
			          <div class="has_corners_shadow is_medium">
			          	<% if !(p.stock.default_image).nil? %>
			          		<%= link_to page_produit_show_path(p.user_id,p) do %>
			          			<%= image_tag (p.stock.default_image).image_url(:is_medium) if !(p.stock.default_image).nil? %>
			          		<% end %>
			          	<% end %>
			          </div>
			        </div>
			        <div class="content">
			          <p class="title"> <%= link_to p.titre, page_produit_show_path(p.user_id,p), :class => "title" %></p>
			          <p class="description"><%= p.description %></p>
			          <span class="price "><%= p.prix_unite_ttc %>€ <span class="is_italic">les <%= "#{p.quantite} #{p.stock.unite_mesure.nom}"  %></span></span>
			        </div>
			      </div>
			    </li>
			<% end %>
			<br class="clear"/>
		</ul>
	<% end %>

<!-- _______________________ middle block ________________________________________-->
	<% if @produit_middle_block.count > 0 %>
		<ul class="l_product_list" style=" min-height: 310px;">
			<% @produit_middle_block.each do |p| %>
				<li>
			      <div class="l_photo_description is_medium is_vertical">
			        <div class="image">
			          <div class="has_corners_shadow is_medium">
			          	<% if !(p.stock.default_image).nil? %>
			          		<%= link_to page_produit_show_path(p.user_id,p) do %>
			          			<%= image_tag (p.stock.default_image).image_url(:is_medium) if !(p.stock.default_image).nil? %>
			          		<% end %>
			          	<% end %>
			          </div>
			        </div>
			        <div class="content">
			          <p class="title"><%= link_to p.titre, page_produit_show_path(p.user_id,p), :class => "title" %></p>
			          <p class="description"><%= p.description %></p>
			          <span class="price "> <%= p.prix_unite_ttc %>€ <span class="is_italic">les <%= "#{p.quantite} #{p.stock.unite_mesure.nom}"  %></span></span>
			        </div>
			      </div>
			    </li>
			<% end %>
			<br class="clear"/>
		</ul>
	<% end %>


<!-- _______________________ last block ________________________________________-->
	<% if @produit_last_block.count > 0 %>
		<ul class="l_product_list huge_right">
			<li class="is_huge">
		      <div class="l_photo_description is_huge is_vertical">
		        <div class="image">
		          <div class="has_corners_shadow is_huge">
		          	<% if !(@last_huge_product.stock.default_image).nil? %>
		          		<%= link_to page_produit_show_path(@last_huge_product.user_id,@last_huge_product) do %>
			          		<%= image_tag (@last_huge_product.stock.default_image).image_url(:is_huge) if !(@last_huge_product.stock.default_image).nil? %>
			          	<% end %>
			        <% end %>
		          </div>
		        </div>
		        <div class="content">
		          <p class="title"><%= link_to @last_huge_product.titre, page_produit_show_path(@last_huge_product.user_id,@last_huge_product), :class => "title" %></p>
		          <p class="description"><%= @last_huge_product.description %></p>
		          <span class="price "><%= @last_huge_product.prix_unite_ttc %>€ <span class="is_italic">les <%= "#{@first_huge_product.quantite} #{@first_huge_product.stock.unite_mesure.nom}"  %></span></span>
		        </div>
		      </div>
		    </li>
		    
		    <% @produit_last_block.each do |p| %>
				<li>
			      <div class="l_photo_description is_medium is_vertical">
			        <div class="image">
			          <div class="has_corners_shadow is_medium">
			          	<% if !(p.stock.default_image).nil? %>
			          		<%= link_to page_produit_show_path(p.user_id,p) do %>
			          			<%= image_tag (p.stock.default_image).image_url(:is_medium) if !(p.stock.default_image).nil? %>
			          		<% end %>
			          	<% end %>
			          </div>
			        </div>
			        <div class="content">
			          <p class="title"><%= link_to p.titre, page_produit_show_path(p.user_id,p), :class => "title" %></p>
			          <p class="description"><%= p.description %></p>
			          <span class="price "> <%= p.prix_unite_ttc %>€ <span class="is_italic">les <%= "#{@last_huge_product.quantite} #{@last_huge_product.stock.unite_mesure.nom}"  %></span></span>
			        </div>
			      </div>
			    </li>
			<% end %>
			<br class="clear"/>
		</ul>
	<% end %>















<!--



  <ul class="l_product_list huge_left">

    <li class="is_huge">
      <div class="l_photo_description is_huge is_vertical">
        <div class="image">
          <div class="has_corners_shadow is_huge"></div>
        </div>
        <div class="content">
          <p class="title">Carottes</p>
          <p class="description">C'est un légume très anciennement connu. L'empereur romain Néron fut surnommé le « porrophage » car il en consommait, paraît-il, de grandes quantités pour s'éclaircir la voix. C'est un légume très anciennement connu. L'empereur romain Néron fut...</p>
          <span class="price ">5€ <span class="is_italic">le kilo</span></span>
        </div>
      </div>
    </li>

    <li>
      <div class="l_photo_description is_medium is_vertical">
        <div class="image">
          <div class="has_corners_shadow is_medium"></div>
        </div>
        <div class="content">
          <p class="title">Carottes</p>
          <p class="description">C'est un légume très anciennement connu. L'empereur romain Néron...</p>
          <span class="price ">5€ <span class="is_italic">le kilo</span></span>
        </div>
      </div>
    </li>

    <li>
      <div class="l_photo_description is_medium is_vertical">
        <div class="image">
          <div class="has_corners_shadow is_medium"></div>
        </div>
        <div class="content">
          <p class="title">Carottes</p>
          <p class="description">C'est un légume très anciennement connu. L'empereur romain Néron...</p>
          <span class="price ">5€ <span class="is_italic">le kilo</span></span>
        </div>
      </div>
    </li>

    <li>
      <div class="l_photo_description is_medium is_vertical">
        <div class="image">
          <div class="has_corners_shadow is_medium"></div>
        </div>
        <div class="content">
          <p class="title">Carottes</p>
          <p class="description">C'est un légume très anciennement connu. L'empereur romain Néron...</p>
          <span class="price ">5€ <span class="is_italic">le kilo</span></span>
        </div>
      </div>
    </li>

    <li>
      <div class="l_photo_description is_medium is_vertical">
        <div class="image">
          <div class="has_corners_shadow is_medium"></div>
        </div>
        <div class="content">
          <p class="title">Carottes</p>
          <p class="description">C'est un légume très anciennement connu. L'empereur romain Néron...</p>
          <span class="price ">5€ <span class="is_italic">le kilo</span></span>
        </div>
      </div>
    </li>

    <br class="clear"/>

  </ul>





  <ul class="l_product_list">

    <li>
      <div class="l_photo_description is_medium is_vertical">
        <div class="image">
          <div class="has_corners_shadow is_medium"></div>
        </div>
        <div class="content">
          <p class="title">Carottes</p>
          <p class="description">C'est un légume très anciennement connu. L'empereur romain Néron...</p>
          <span class="price ">5€ <span class="is_italic">le kilo</span></span>
        </div>
      </div>
    </li>

    <li>
      <div class="l_photo_description is_medium is_vertical">
        <div class="image">
          <div class="has_corners_shadow is_medium"></div>
        </div>
        <div class="content">
          <p class="title">Carottes</p>
          <p class="description">C'est un légume très anciennement connu. L'empereur romain Néron...</p>
          <span class="price ">5€ <span class="is_italic">le kilo</span></span>
        </div>
      </div>
    </li>

    <li>
      <div class="l_photo_description is_medium is_vertical">
        <div class="image">
          <div class="has_corners_shadow is_medium"></div>
        </div>
        <div class="content">
          <p class="title">Carottes</p>
          <p class="description">C'est un légume très anciennement connu. L'empereur romain Néron...</p>
          <span class="price ">5€ <span class="is_italic">le kilo</span></span>
        </div>
      </div>
    </li>

    <li>
      <div class="l_photo_description is_medium is_vertical">
        <div class="image">
          <div class="has_corners_shadow is_medium"></div>
        </div>
        <div class="content">
          <p class="title">Carottes</p>
          <p class="description">C'est un légume très anciennement connu. L'empereur romain Néron...</p>
          <span class="price ">5€ <span class="is_italic">le kilo</span></span>
        </div>
      </div>
    </li>

    <br class="clear"/>

  </ul>






  <ul class="l_product_list huge_right">

    <li class="is_huge">
      <div class="l_photo_description is_huge is_vertical">
        <div class="image">
          <div class="has_corners_shadow is_huge"></div>
        </div>
        <div class="content">
          <p class="title">Carottes</p>
          <p class="description">C'est un légume très anciennement connu. L'empereur romain Néron fut surnommé le « porrophage » car il en consommait, paraît-il, de grandes quantités pour s'éclaircir la voix. C'est un légume très anciennement connu. L'empereur romain Néron fut...</p>
          <span class="price ">5€ <span class="is_italic">le kilo</span></span>
        </div>
      </div>
    </li>

    <li>
      <div class="l_photo_description is_medium is_vertical">
        <div class="image">
          <div class="has_corners_shadow is_medium"></div>
        </div>
        <div class="content">
          <p class="title">Carottes</p>
          <p class="description">C'est un légume très anciennement connu. L'empereur romain Néron...</p>
          <span class="price ">5€ <span class="is_italic">le kilo</span></span>
        </div>
      </div>
    </li>

    <li>
      <div class="l_photo_description is_medium is_vertical">
        <div class="image">
          <div class="has_corners_shadow is_medium"></div>
        </div>
        <div class="content">
          <p class="title">Carottes</p>
          <p class="description">C'est un légume très anciennement connu. L'empereur romain Néron...</p>
          <span class="price ">5€ <span class="is_italic">le kilo</span></span>
        </div>
      </div>
    </li>

    <li>
      <div class="l_photo_description is_medium is_vertical">
        <div class="image">
          <div class="has_corners_shadow is_medium"></div>
        </div>
        <div class="content">
          <p class="title">Carottes</p>
          <p class="description">C'est un légume très anciennement connu. L'empereur romain Néron...</p>
          <span class="price ">5€ <span class="is_italic">le kilo</span></span>
        </div>
      </div>
    </li>

    <li>
      <div class="l_photo_description is_medium is_vertical">
        <div class="image">
          <div class="has_corners_shadow is_medium"></div>
        </div>
        <div class="content">
          <p class="title">Carottes</p>
          <p class="description">C'est un légume très anciennement connu. L'empereur romain Néron...</p>
          <span class="price ">5€ <span class="is_italic">le kilo</span></span>
        </div>
      </div>
    </li>

    <br class="clear">

  </ul>


-->
 

<% end %>

</div>
