<div class="l_main_gutter product_list">

  
   <div class="breadcrumb">
    <ul>
      <% 
      @var = @tab_breadcrumb.count + 1
      @tab_breadcrumb.each do |breadcrumb| %>
      	<% if @var == (@tab_breadcrumb.count + 1) %>
  		  	<li><a class="/" style="z-index:<%= @var %>" href="<%= breadcrumb[:path] %>"><i class="home_icon"></i><%= breadcrumb[:title] %></a></li>
  		<% else %>
  			<li><a class="" style="z-index:<%= @var %>" href="<%= breadcrumb[:path] %>"><%= breadcrumb[:title] %></a></li>
  		<% end %>
  	  
  	  	<%  @var = @var -1 %>
  	  <% end %>
  	  
   <!--
   <li><a class="/" style="z-index:4"><i class="home_icon"></i>Accueil</a></li>
      <li><a class="" style="z-index:3">Produits</a></li>
      <li><a class="" style="z-index:2">Fruits et légumes</a></li>
-->
    </ul>
    
    <div class="activation">
      <span>activer les filtres:</span>
	      <span class="toggle_switch is_off">
	      	<span class="toggles">
	      		<span class="toggle_on_off">
		      		<span class="toggle off">
				      	non 
			      	</span>
			      	<span class="toggle on">
				      	oui
			      	</span>
	      		</span>
	      	</span>
	      	<span class="switch"></span>
	      </span>
    </div>
   <!-- <div class="filters">
      <span>trier par</span><span class="filter">date d'ajout <i class="vertical_devider"></i><i class="down_arrow"></i>&nbsp;</span>
    </div>-->
  </div>

  <div class="filter_bg">
      <div class="filter_zone">
        <p class="title">Filtres</p>
        <p class="label">N'afficher que:</p>
        <ul>
	        <% @all_categorie.each do |categorie| %>
	        	<li data-id="<%= categorie.id %>"> <%= categorie.nom %> </li>
	        <% end %>
        </ul>
        </ul>
        <br class="clear">
      </div>
  </div>

  <h1><%= @titre %></h1>
  <%= render :partial => "list", :locals => { 
  				:produits => @produits, 
  				:produits_first_block => @produits_first_block,
  				:first_huge_product =>  @first_huge_product,
  				:produit_middle_block => @produit_middle_block,
  				:produit_last_block => @produit_last_block,
  				:last_huge_product => @last_huge_product	
  	} %>


</div>
