<div class="l_main_gutter product_list">

<h1><%= @titre %> <%= @produits.count %></h1>
<p>
	<%= @date = Date.current %>
	<%= @date_end = @date.months_since(24) %>
</p>
<% if @produits.count == 0 %>
  <p> Aucun produit</p>
<% else %>
	<!--<% @produits.each do |produit| %>
	
	
      <p> <%= produit.titre %> </p>
      <p> <%= produit.description %> </p>
      <p> <%= produit.user.nom %> </p>
      <p> <%= produit.prix_unite_ht %> </p>
      <p> <%= produit.stock.categorie.nom %></p>
      <%= link_to "Voir le produit", page_produit_show_path(produit.user_id,produit), :class => "btn btn-primary" %>
    <% end %> -->
	
	<!-- _______________________ first block ________________________________________-->
	<% if @produits_first_block.count > 0 %>
		<ul class="l_product_list huge_left">
			 <li class="is_huge">
			      <div class="l_photo_description is_huge is_vertical">
			        <div class="image">
			          <div class="has_corners_shadow is_huge"></div>
			        </div>
			        <div class="content">
			          <p class="title"> <%= link_to @first_huge_product.titre, page_produit_show_path(@first_huge_product.user_id,@first_huge_product), :class => "title" %></p>
			          <p class="description"><%= @first_huge_product.description %></p>
			          <span class="price "><%= @first_huge_product.prix_unite_ttc %> € <span class="is_italic">les <%= "#{@first_huge_product.quantite} #{@first_huge_product.stock.unite_mesure.nom}"  %></span></span>
			        </div>
			      </div>
    		</li>
			<% @produits_first_block.each do |p| %>
				<li>
			      <div class="l_photo_description is_medium is_vertical">
			        <div class="image">
			          <div class="has_corners_shadow is_medium"></div>
			        </div>
			        <div class="content">
			          <p class="title"> <%= link_to p.titre, page_produit_show_path(p.user_id,p), :class => "title" %></p>
			          <p class="description"><%= p.description %></p>
			          <span class="price "><%= p.prix_unite_ttc %>€ <span class="is_italic">les <%= "#{p.quantite} #{p.stock.unite_mesure.nom}"  %></span></span>
			        </div>
			      </div>
			    </li>
			<% end %>
			<br class="clear"/>
		</ul>
	<% end %>

<!-- _______________________ middle block ________________________________________-->
	<% if @produit_middle_block.count > 0 %>
		<ul class="l_product_list" style=" min-height: 310px;">
			<% @produit_middle_block.each do |p| %>
				<li>
			      <div class="l_photo_description is_medium is_vertical">
			        <div class="image">
			          <div class="has_corners_shadow is_medium"></div>
			        </div>
			        <div class="content">
			          <p class="title"><%= link_to p.titre, page_produit_show_path(p.user_id,p), :class => "title" %></p>
			          <p class="description"><%= p.description %></p>
			          <span class="price "> <%= p.prix_unite_ttc %>€ <span class="is_italic">les <%= "#{p.quantite} #{p.stock.unite_mesure.nom}"  %></span></span>
			        </div>
			      </div>
			    </li>
			<% end %>
			<br class="clear"/>
		</ul>
	<% end %>


<!-- _______________________ last block ________________________________________-->
	<% if @produit_last_block.count > 0 %>
		<ul class="l_product_list huge_right">
			<li class="is_huge">
		      <div class="l_photo_description is_huge is_vertical">
		        <div class="image">
		          <div class="has_corners_shadow is_huge"></div>
		        </div>
		        <div class="content">
		          <p class="title"><%= link_to @last_huge_product.titre, page_produit_show_path(@last_huge_product.user_id,@last_huge_product), :class => "title" %></p>
		          <p class="description"><%= @last_huge_product.description %></p>
		          <span class="price "><%= @last_huge_product.prix_unite_ttc %>€ <span class="is_italic">les <%= "#{@first_huge_product.quantite} #{@first_huge_product.stock.unite_mesure.nom}"  %></span></span>
		        </div>
		      </div>
		    </li>
		    
		    <% @produit_last_block.each do |p| %>
				<li>
			      <div class="l_photo_description is_medium is_vertical">
			        <div class="image">
			          <div class="has_corners_shadow is_medium"></div>
			        </div>
			        <div class="content">
			          <p class="title"><%= link_to p.titre, page_produit_show_path(p.user_id,p), :class => "title" %></p>
			          <p class="description"><%= p.description %></p>
			          <span class="price "> <%= p.prix_unite_ttc %>€ <span class="is_italic">les <%= "#{@last_huge_product.quantite} #{@last_huge_product.stock.unite_mesure.nom}"  %></span></span>
			        </div>
			      </div>
			    </li>
			<% end %>
			<br class="clear"/>
		</ul>
	<% end %>

  <span class="show_more">Voir plus de produits</span>














<!--



  <ul class="l_product_list huge_left">

    <li class="is_huge">
      <div class="l_photo_description is_huge is_vertical">
        <div class="image">
          <div class="has_corners_shadow is_huge"></div>
        </div>
        <div class="content">
          <p class="title">Carottes</p>
          <p class="description">C'est un légume très anciennement connu. L'empereur romain Néron fut surnommé le « porrophage » car il en consommait, paraît-il, de grandes quantités pour s'éclaircir la voix. C'est un légume très anciennement connu. L'empereur romain Néron fut...</p>
          <span class="price ">5€ <span class="is_italic">le kilo</span></span>
        </div>
      </div>
    </li>

    <li>
      <div class="l_photo_description is_medium is_vertical">
        <div class="image">
          <div class="has_corners_shadow is_medium"></div>
        </div>
        <div class="content">
          <p class="title">Carottes</p>
          <p class="description">C'est un légume très anciennement connu. L'empereur romain Néron...</p>
          <span class="price ">5€ <span class="is_italic">le kilo</span></span>
        </div>
      </div>
    </li>

    <li>
      <div class="l_photo_description is_medium is_vertical">
        <div class="image">
          <div class="has_corners_shadow is_medium"></div>
        </div>
        <div class="content">
          <p class="title">Carottes</p>
          <p class="description">C'est un légume très anciennement connu. L'empereur romain Néron...</p>
          <span class="price ">5€ <span class="is_italic">le kilo</span></span>
        </div>
      </div>
    </li>

    <li>
      <div class="l_photo_description is_medium is_vertical">
        <div class="image">
          <div class="has_corners_shadow is_medium"></div>
        </div>
        <div class="content">
          <p class="title">Carottes</p>
          <p class="description">C'est un légume très anciennement connu. L'empereur romain Néron...</p>
          <span class="price ">5€ <span class="is_italic">le kilo</span></span>
        </div>
      </div>
    </li>

    <li>
      <div class="l_photo_description is_medium is_vertical">
        <div class="image">
          <div class="has_corners_shadow is_medium"></div>
        </div>
        <div class="content">
          <p class="title">Carottes</p>
          <p class="description">C'est un légume très anciennement connu. L'empereur romain Néron...</p>
          <span class="price ">5€ <span class="is_italic">le kilo</span></span>
        </div>
      </div>
    </li>

    <br class="clear"/>

  </ul>





  <ul class="l_product_list">

    <li>
      <div class="l_photo_description is_medium is_vertical">
        <div class="image">
          <div class="has_corners_shadow is_medium"></div>
        </div>
        <div class="content">
          <p class="title">Carottes</p>
          <p class="description">C'est un légume très anciennement connu. L'empereur romain Néron...</p>
          <span class="price ">5€ <span class="is_italic">le kilo</span></span>
        </div>
      </div>
    </li>

    <li>
      <div class="l_photo_description is_medium is_vertical">
        <div class="image">
          <div class="has_corners_shadow is_medium"></div>
        </div>
        <div class="content">
          <p class="title">Carottes</p>
          <p class="description">C'est un légume très anciennement connu. L'empereur romain Néron...</p>
          <span class="price ">5€ <span class="is_italic">le kilo</span></span>
        </div>
      </div>
    </li>

    <li>
      <div class="l_photo_description is_medium is_vertical">
        <div class="image">
          <div class="has_corners_shadow is_medium"></div>
        </div>
        <div class="content">
          <p class="title">Carottes</p>
          <p class="description">C'est un légume très anciennement connu. L'empereur romain Néron...</p>
          <span class="price ">5€ <span class="is_italic">le kilo</span></span>
        </div>
      </div>
    </li>

    <li>
      <div class="l_photo_description is_medium is_vertical">
        <div class="image">
          <div class="has_corners_shadow is_medium"></div>
        </div>
        <div class="content">
          <p class="title">Carottes</p>
          <p class="description">C'est un légume très anciennement connu. L'empereur romain Néron...</p>
          <span class="price ">5€ <span class="is_italic">le kilo</span></span>
        </div>
      </div>
    </li>

    <br class="clear"/>

  </ul>






  <ul class="l_product_list huge_right">

    <li class="is_huge">
      <div class="l_photo_description is_huge is_vertical">
        <div class="image">
          <div class="has_corners_shadow is_huge"></div>
        </div>
        <div class="content">
          <p class="title">Carottes</p>
          <p class="description">C'est un légume très anciennement connu. L'empereur romain Néron fut surnommé le « porrophage » car il en consommait, paraît-il, de grandes quantités pour s'éclaircir la voix. C'est un légume très anciennement connu. L'empereur romain Néron fut...</p>
          <span class="price ">5€ <span class="is_italic">le kilo</span></span>
        </div>
      </div>
    </li>

    <li>
      <div class="l_photo_description is_medium is_vertical">
        <div class="image">
          <div class="has_corners_shadow is_medium"></div>
        </div>
        <div class="content">
          <p class="title">Carottes</p>
          <p class="description">C'est un légume très anciennement connu. L'empereur romain Néron...</p>
          <span class="price ">5€ <span class="is_italic">le kilo</span></span>
        </div>
      </div>
    </li>

    <li>
      <div class="l_photo_description is_medium is_vertical">
        <div class="image">
          <div class="has_corners_shadow is_medium"></div>
        </div>
        <div class="content">
          <p class="title">Carottes</p>
          <p class="description">C'est un légume très anciennement connu. L'empereur romain Néron...</p>
          <span class="price ">5€ <span class="is_italic">le kilo</span></span>
        </div>
      </div>
    </li>

    <li>
      <div class="l_photo_description is_medium is_vertical">
        <div class="image">
          <div class="has_corners_shadow is_medium"></div>
        </div>
        <div class="content">
          <p class="title">Carottes</p>
          <p class="description">C'est un légume très anciennement connu. L'empereur romain Néron...</p>
          <span class="price ">5€ <span class="is_italic">le kilo</span></span>
        </div>
      </div>
    </li>

    <li>
      <div class="l_photo_description is_medium is_vertical">
        <div class="image">
          <div class="has_corners_shadow is_medium"></div>
        </div>
        <div class="content">
          <p class="title">Carottes</p>
          <p class="description">C'est un légume très anciennement connu. L'empereur romain Néron...</p>
          <span class="price ">5€ <span class="is_italic">le kilo</span></span>
        </div>
      </div>
    </li>

    <br class="clear">

  </ul>


-->
 

<% end %>

</div>
