<div class="l_main_gutter product_show has_column">

   <div class="breadcrumb">
    <ul>
      <% 
      @var = @tab_breadcrumb.count + 1
      @tab_breadcrumb.each do |breadcrumb| %>
      	<% if @var == (@tab_breadcrumb.count + 1) %>
  		  	<li><a class="/" style="z-index:<%= @var %>" href="<%= breadcrumb[:path] %>"><i class="home_icon"></i><%= breadcrumb[:title] %></a></li>
  		<% else %>
  			<li><a class="" style="z-index:<%= @var %>" href="<%= breadcrumb[:path] %>"><%= breadcrumb[:title] %></a></li>
  		<% end %>
  	  
  	  	<%  @var = @var -1 %>
  	  <% end %>
  	  
  	  
   <!--
   <li><a class="/" style="z-index:4"><i class="home_icon"></i>Accueil</a></li>
      <li><a class="" style="z-index:3">Produits</a></li>
      <li><a class="" style="z-index:2">Fruits et légumes</a></li>
-->
    </ul>
   </div>

  <div class="l_area_left">

    <div class="l_content_left pictures">

      <div class="is_big has_corners_shadow">
      	<% if !(@produit.stock.default_image).nil? %>
			<%= image_tag (@produit.stock.default_image).image_url(:is_big) %>
		<% end %>
      </div>
		
	  <% if !(@produit.stock.other_image).nil? %>
      <ul>
      	<% (@produit.stock.other_image).each do |image| %>
	        <li>
	          <div class="is_small has_corners_shadow">
	          	<%= image_tag image.image_url(:is_small)%>
	          </div>
	        </li>
        <% end %>
      </ul>
      <% end %>

    </div>

    <div class="l_content_right details">
	 <%= simple_form_for(@produit, :url => ajout_produit_cageot_path, :method => "post",:html => {:class => '', :id => 'form_add_product' },:remote => true ) do |f| %>
	 <%= f.input :id, :as => :hidden %>
	 <%= f.input :nombre_pack, :input_html => {value:1},:as => :hidden %>
      <h1><%= @produit.titre %></h1>
      <p class="note is_italic">Fruits et légumes</p>
      <p>C'est un légume très anciennement connu. L'empereur romain Néron fut surnommé le « porrophage » car il en consommait, paraît-il, de grandes quantités pour s'éclaircir la voix.</p>

      <div class="price_button">
        <p class="price  is_bold"><%= @produit.prix_unite_ttc %> € <span class="note is_italic">le kilo</span></p>
        <p> Quantité : <%= @produit.quantite %> <%= @produit.stock.unite_mesure.abbreviation %> </p>
        <!--<p class="button"> <input  type="submit" value="ajouter à ma cagette"> </p>-->
        <span id="add_product" class="button"><a>ajouter à ma cagette</a></span>
      </div>
	<% end %>
    </div>

  </div>

  <div class="l_area_right">
    <div class="product_by">
      <h3> Produit par</h3>
      <p class="note is_italic">En France, dans le Nord-pas-de-Calais</p>
      <div class="l_photo_description is_horizontal">

        <div class="image">
          <div class="is_small has_corners_shadow">
          	<%= link_to page_revendeur_show_path(@produit.user) do %>
          		<%= image_tag (@produit.user.default_image).image_url(:is_small) if !(@produit.user.default_image).nil? %>
          	<% end %>
          </div>
        </div>

        <div class="content">
          <h2><%= @produit.user.nom %> <%= @produit.user.prenom %></h2>
          <p class="note is_italic location"><%= @produit.user.ville.nom %></p>
        </div>

        <p><%= @produit.user.description %></p>
      </div>
    </div>

    <div class="other_products">
      <% if @other_produits.count != 0 %>
        <h3>Ses autres produits </h3>
        <ul>
          <% @other_produits.each do |other_produit| %>
          	<li>
            <div class="l_photo_description is_horizontal">
              <div class="image">
                <div class="has_corners_shadow is_small">
                	<%= link_to page_produit_show_path(@produit.user,other_produit) do %>
                		<%= image_tag (other_produit.stock.default_image).image_url(:is_small) if !(other_produit.stock.default_image).nil? %>
                	<% end %>
                </div>
              </div>
              <div class="content">
                <p class="note is_bold title"><%= other_produit.titre %></p>
                <p class="note "><%= other_produit.prix_unite_ttc %> € <span class="is_italic">le <%= other_produit.stock.unite_mesure.nom %></span></p>
              </div>
            </div>
          </li>
          <% end %>
        </ul>
      <%	else %>
        <p> Aucun autre produit</p>
      <% end %>
    </div>

      <div class="about_the_farmer">
        <span class="button"><a>découvrez <%= @produit.user.prenom %> </a></span>
      </div>

  </div>

  <br class="clear">

</div>
