<%= simple_form_for([:administration,current_user,@panier_autorise], :html => {:class => 'form-horizontal well' }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :categorie, :collection => Categorie.all.map{ |c| [c.nom,c.id]}, :label => "Catégorie", :include_blank => false %>
    <%= f.input :titre %>
    <%= f.input :description %>
    <%= f.input :prix_panier_ht %>
    <%= f.input :prix_panier_ttc %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, :value => "Créer panier" %>
  </div>
<% end %>
