<%= simple_form_for([:administration, current_user,@point_relai]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :ville, :collection => Ville.all.map{ |c| [c.nom,c.id]}, :label => "Ville", :include_blank => false%>
    <%= f.input :adresse %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
