<h1>Listing point_relais</h1>

<table class="table table-striped">
  <tr>
    <th>Id</th>
    <th>User</th>
    <th>Ville</th>
    <th>Adresse</th>
    <th>Deleted</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @point_relais.each do |point_relai| %>
  <tr>
    <td><%= point_relai.id %></td>
    <td><%= point_relai.user_id %></td>
    <td><%= point_relai.ville_id %></td>
    <td><%= point_relai.adresse %></td>
    <td><%= point_relai.deleted %></td>
    <% if can? :show, point_relai %>
    <td><%= link_to 'Show', [:administration,current_user,point_relai] %></td>
    <% end %>
    <% if can? :update, point_relai %>
    <td><%= link_to 'Edit', edit_administration_user_point_relai_path(current_user,point_relai) %></td>
    <td><%= link_to 'Destroy', [:administration,current_user,point_relai], confirm: 'Are you sure?', method: :delete %></td>
  	<% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Point relai', new_administration_user_point_relai_path(current_user) %>
