<h1><%= @titre %></h1>
<p>Find me in app/views/page_produit/index.html.erb</p>

<% if @paniers.count == 0 %>
	<p> Aucun produit</p>
<% else %>
	<table class="table table-striped">
		<tr>
			<th>Titre</th>
			<th>Description</th>
			<th>Agriculteur</th>
			<th>Prix</th>
			<th>Catgorie</th>
			<th> Action</th>
			
		</tr>
	
	
	<% @paniers.each do |panier| %>
	<tr>
		<td> <%= panier.titre %> </td>
		<td> <%= panier.description %> </td>
		<td> <%= panier.user.nom %> </td>
		<td> <%= panier.prix_unite_ht %> </td>
		<td> <%= panier.categorie.nom %></td>
		<td> <%= link_to "Voir le panier", page_panier_show_path(panier.revendeur_id,panier), :class => "btn btn-primary" %></td>
		
	
	</tr>
	<% end %>
<% end %>

</table>