<div class="basket_list l_main_gutter">

<div class="breadcrumb">
    <ul>
      <% 
      @var = @tab_breadcrumb.count + 1
      @tab_breadcrumb.each do |breadcrumb| %>
      	<% if @var == (@tab_breadcrumb.count + 1) %>
  		  	<li><a class="/" style="z-index:<%= @var %>" href="<%= breadcrumb[:path] %>"><i class="home_icon"></i><%= breadcrumb[:title] %></a></li>
  		<% else %>
  			<li><a class="" style="z-index:<%= @var %>" href="<%= breadcrumb[:path] %>"><%= breadcrumb[:title] %></a></li>
  		<% end %>
  	  
  	  	<%  @var = @var -1 %>
  	  <% end %>
  	  
   <!--
   <li><a class="/" style="z-index:4"><i class="home_icon"></i>Accueil</a></li>
      <li><a class="" style="z-index:3">Produits</a></li>
      <li><a class="" style="z-index:2">Fruits et légumes</a></li>
-->
    </ul>
    
    <div class="activation">
      <span>activer les filtres:</span>
	      <span class="toggle_switch is_on">
	      	<span class="toggles">
	      		<span class="toggle_on_off">
		      		<span class="toggle off">
				      	non 
			      	</span>
			      	<span class="toggle on">
				      	oui
			      	</span>
	      		</span>
	      	</span>
	      	<span class="switch"></span>
	      </span>
    </div>
    <div class="dropdown filters" data-toggle="dropdown">
     <span>trier par</span>
      <span class="filter dropdown-toggle"  data-toggle="dropdown"> <span> Date d'ajout </span> <i class="vertical_devider"></i><i class="down_arrow"></i>&nbsp;</span>
      <ul class="dropdown-menu dropdown_menu">
      	<li class="dropdown_arrow"><span class="inner_arrow"></span><span class="outer_arrow"></span></li>
      	<li class="is_click" data-order="date_ajout"> <a> Date d'ajout </a> </li>
      </ul>
    </div>
  </div>

  <div class="filter_bg">
      <div class="filter_zone">
        <p class="title">Filtres</p>
        <p class="label">N'afficher que:</p>
        <ul class="filter_categorie">
	        <% @all_categorie.each do |categorie| %>
	        	<li data-id="<%= categorie.id %>"> <%= categorie.nom %> </li>
	        <% end %>
        </ul>
        <br class="clear">
        <p class="label">Trier par:</p>
        <ul class="filter_agriculteur">
	        <% @all_agriculteurs.each do |agriculteur| %>
	        	<li data-id="<%= agriculteur.id %>"> <%= agriculteur.nom %> <%= agriculteur.prenom %> </li>
	        <% end %>
        </ul>
        <br class="clear">
      </div>
  </div>

  
  
  

	<h1><%= @titre %></h1>
	
	<%= render :partial => "list", :locals => { 
  				:paniers => @paniers, 
  				:paniers_first_block => @paniers_first_block,
  				:first_huge_panier =>  @first_huge_panier,
  				:paniers_middle_block => @paniers_middle_block,
  				:paniers_last_block => @paniers_last_block,
  				:last_huge_panier => @last_huge_panier	
  		}
  	%>
	
</div>

