<div class="basket_list l_main_gutter">

	<div class="breadcrumb">
		<ul>
			<li><a class="" style="z-index:4"><i class="home_icon"></i>Accueil</a></li>
			<li><a class="" style="z-index:3">Produits</a></li>
			<li><a class="" style="z-index:2">Fruits et légumes</a></li>
		</ul>
	</div>

	<h1><%= @titre %></h1>
	
	<!-- _______________________ first block ________________________________________-->
	<% if @paniers_first_block.count > 0 %>
		<ul class="l_product_list huge_left">
			 <li class="is_huge">
			      <div class="l_photo_description is_huge is_vertical">
			        <div class="image">
			          <div class="has_corners_shadow is_huge">
			          		<%= image_tag (@first_huge_panier.default_image).image_url(:is_huge) if !(@first_huge_panier.default_image).nil? 
			          		%>
			          </div>
			        </div>
			        <div class="content">
			          <p class="title"> <%= link_to @first_huge_panier.titre, page_panier_show_path(@first_huge_panier.revendeur_id,@first_huge_panier), :class => "title" %></p>
			          <p class="description"><%= @first_huge_panier.description %></p>
			          <span class="price "><%= @first_huge_panier.prix_unite_ttc %> € <span class="is_italic">pour  <%= "#{@first_huge_panier.nombre_personne} personnes"  %></span></span>
			        </div>
			      </div>
    		</li>
			<% @paniers_first_block.each do |p| %>
				<li>
			      <div class="l_photo_description is_medium is_vertical">
			        <div class="image">
			          <div class="has_corners_shadow is_medium">
			          		<%= image_tag (p.default_image).image_url(:is_medium) if !(p.default_image).nil? 
			          		%>
			          </div>
			        </div>
			        <div class="content">
			          <p class="title"> <%= link_to p.titre, page_panier_show_path(p.revendeur_id,p), :class => "title" %></p>
			          <p class="description"><%= p.description %></p>
			          <span class="price "><%= p.prix_unite_ttc %>€ <span class="is_italic"> pour <%= "#{p.nombre_personne} personnes"  %></span></span>
			        </div>
			      </div>
			    </li>
			<% end %>
			<br class="clear"/>
		</ul>
	<% end %>

<!-- _______________________ middle block ________________________________________-->
	<% if @paniers_middle_block.count > 0 %>
		<ul class="l_product_list" style=" min-height: 310px;">
			<% @paniers_middle_block.each do |p| %>
				<li>
			      <div class="l_photo_description is_medium is_vertical">
			        <div class="image">
			          <div class="has_corners_shadow is_medium">
			          		<%= image_tag (p.default_image).image_url(:is_medium) if !(p.default_image).nil?
			          		 %>
			          </div>
			        </div>
			        <div class="content">
			          <p class="title"><%= link_to p.titre, page_panier_show_path(p.revendeur_id,p), :class => "title" %></p>
			          <p class="description"><%= p.description %></p>
			          <span class="price "> <%= p.prix_unite_ttc %>€ <span class="is_italic">les <%= "#{p.nombre_personne} personnes"  %></span></span>
			        </div>
			      </div>
			    </li>
			<% end %>
			<br class="clear"/>
		</ul>
	<% end %>


<!-- _______________________ last block ________________________________________-->
	<% if @paniers_last_block.count > 0 %>
		<ul class="l_product_list huge_right">
			<li class="is_huge">
		      <div class="l_photo_description is_huge is_vertical">
		        <div class="image">
		          <div class="has_corners_shadow is_huge">
			          	<%= image_tag (@last_huge_panier.default_image).image_url(:is_huge) if !(@last_huge_panier.default_image).nil? 
			          	%>
		          </div>
		        </div>
		        <div class="content">
		          <p class="title"><%= link_to @last_huge_panier.titre, page_panier_show_path(@last_huge_panier.revendeur_id,@last_huge_panier), :class => "title" %></p>
		          <p class="description"><%= @last_huge_panier.description %></p>
		          <span class="price "><%= @last_huge_panier.prix_unite_ttc %>€ <span class="is_italic">les <%= "#{@last_huge_panier.nombre_personne} personnes"  %></span></span>
		        </div>
		      </div>
		    </li>
		    
		    <% @paniers_last_block.each do |p| %>
				<li>
			      <div class="l_photo_description is_medium is_vertical">
			        <div class="image">
			          <div class="has_corners_shadow is_medium">
			          		<%= image_tag (p.default_image).image_url(:is_medium) if !(p.default_image).nil? 
			          		%>
			          </div>
			        </div>
			        <div class="content">
			          <p class="title"><%= link_to p.titre, page_panier_show_path(p.revendeur_id,p), :class => "title" %></p>
			          <p class="description"><%= p.description %></p>
			          <span class="price "> <%= p.prix_unite_ttc %>€ <span class="is_italic">les <%= "#{@last_huge_product.nombre_personne} personnes"  %></span></span>
			        </div>
			      </div>
			    </li>
			<% end %>
			<br class="clear"/>
		</ul>
	<% end %>
</div>

