<div class="l_main_gutter product_show has_column">

	<div class="breadcrumb">
		<ul>
			<% 
			@var = @tab_breadcrumb.count + 1
			@tab_breadcrumb.each do |breadcrumb| %>
			<% if @var == (@tab_breadcrumb.count + 1) %>
			<li><a class="/" style="z-index:<%= @var %>" href="<%= breadcrumb[:path] %>"><i class="home_icon"></i><%= breadcrumb[:title] %></a></li>
			<% else %>
			<li><a class="" style="z-index:<%= @var %>" href="<%= breadcrumb[:path] %>"><%= breadcrumb[:title] %></a></li>
			<% end %>
			
			<%  @var = @var -1 %>
			<% end %>  	 
		</ul>
	</div>

	<div class="l_area_left">

		<div class="l_content_left pictures">

			<div class="is_big has_corners_shadow">
				<%= image_tag (@panier.default_image).image_url(:is_big) if !(@panier.default_image).nil? %>
			</div>
			
			<ul>
				<li>
					<div class="is_small has_corners_shadow">
					</div>
				</li>
			</ul>

		</div>	

		<div class="l_content_right details">
			<h1> <%= @panier.titre %></h1>	 
			<p class="note is_italic">Fruits et légumes</p>
			<p> Description :<%= @panier.description %> </p>

			<div class="price_button">
				<p class="price  is_bold"><%= @panier.prix_unite_ht %> € <span class="note is_italic">le kilo</span></p>
				<br class="clear">
				<span id="add_product" class="button add_basket_link"><a>ajouter à ma cagette</a></span>
			</div>
		<%= simple_form_for(@panier, :url => sabonner_path, :method => "post") do |f| %>
		<%= f.input :id, :as => :hidden %>
		<%= f.input :duree, :collection => (1..12).map, :include_blank => false %>
		
		<p> <input type="submit" value="S'abonner" class="btn btn-info"/></p>
		<% end %>
		</div>
		
		
	</div>

	
	

	<!-- PARTIE INFO AGRICULTEUR -->


	<div class="l_area_right">
		<div class="product_by">
			<h3> Produit par</h3>
			<p class="note is_italic">En France, dans le Nord-pas-de-Calais</p>
			<div class="l_photo_description is_horizontal">

				<div class="image">
					<div class="is_small has_corners_shadow">
					 	<%= link_to page_revendeur_show_path(@panier.user) do %>
							<%= image_tag (@panier.user.default_image).image_url(:is_small) if !(@panier.user.default_image).nil? %>
						<% end %>
					</div>
				</div>

				<div class="content">
					<h2><%= link_to @panier.user.nom+@panier.user.prenom,page_revendeur_show_path(@panier.user), :class => 'title' %></h2>
					<p class="note is_italic location"><%= @panier.user.ville.nom %></p>
				</div>

				<p><%= @panier.user.description %></p> 
			</div>
		</div>

		<div class="other_products">
			<% if @other_paniers.count != 0 %>
			<h3>Ses autres produits </h3>
			<ul>
				<% @other_paniers.each do |other_panier| %>
				<li>
					<div class="l_photo_description is_horizontal">
						<div class="image">
							<div class="has_corners_shadow is_small">
								<%= link_to page_panier_show_path(@panier.user,other_panier) do %>
									<%= image_tag (other_panier.default_image).image_url(:is_small) if !(other_panier.default_image).nil? %>
								<% end %>
							</div>
						</div>
						<div class="content">
							<p class="note is_bold title"> <%= link_to other_panier.titre, page_panier_show_path(@panier.user,other_panier) %></p>
							<p class="note "> Dès <%= other_panier.min_price %> € <span class="is_italic">pour  <%= other_panier.min_personne %></span></p>
						</div>
					</div>
				</li>
				<% end %>
			</ul>
			<%	else %>
			<p> Aucun autre panier</p>
			<% end %>
		</div>w

		<div class="about_the_farmer">
			<span class="button"><%= link_to "Découvrez #{@panier.user.prenom}" ,page_revendeur_show_path(@panier.user) %></span>
		</div>

	</div>

	<br class="clear">
</div>
