<h1>PageProduit#show</h1>
<p>Find me in app/views/page_produit/show.html.erb</p>

<div class="well">
	<h1> <%= @panier.titre %></h1>
	
	<p> Description :<%= @panier.description %> </p>
	<p> Prix HT : <%= @panier.prix_unite_ht %></p>
	<p>Agriculteur : <%= @panier.user.nom %></p>
	
	
	<!-- PARTIE INFO AGRICULTEUR -->
	<div class="thumbnail">
		<p> Produit par</p>
		<img src="">
		<div class="caption">
			<h5><%= @panier.user.nom %></h5>
			<p><%= @panier.user.description %></p>
		</div>
		
			
			<% if @other_paniers.count != 0 %>
			<h6> Autre produit en vente par ces agriculteurs </h6>
			<ul>
				<%	@other_paniers.each do |other_panier| %>
					<li> <%= link_to other_panier.titre, page_panier_show_path(other_panier.revendeur_id,other_panier), :class => "btn" %></li>
			
				<%	end %>
			</ul>
			<%	else %>
				<p> Aucun autre panier</p>
			<% end %>
		<p> <%= link_to "Voir la fiche de l'agriculteur ",page_revendeur_show_path(@panier.revendeur_id), :class => "btn btn-info" %> </p>
	</div>
</div>
