<div class="historique">
	<div class="page-header">
		<h1>Historique abonnements</h1>
		<ul class="buttons">
			<li class="logoff button" tool_tip="deconnexion"><span class="picture"></span></li>
			<li class="separator"></li>
			<li class="help button button_active" tool_tip="aide"><span class="picture"></span></li>        
		</ul>
	</div>
	
	
	<h3><i class="icon icon-basket"></i> Mes commandes </h3>
	<% if @mes_commandes.count > 0 %>
		<div class="table">
			<table class="">
			  <tr>
			    <th>Référence commande </th>
			    <th> Date de commande </th>
		      	<th> Date de livraison </th>
		        <th> Point Relai </th>
		        <th> Etat de la commande </th>
		        <th> Total</th>
		        <th> Informations </th>
			  </tr>
			
			<% @mes_commandes.each do |commande| %>
			  <tr>
			  
			    <td><%= commande.id %></td>
			    <td><%= commande.created_at %></td>
			    <td><%= commande.date_livraison %> </td>
			    <td><%= commande.point_relai.adresse %></td>
			    <th> <%= commande.etat %> </th>
			    <td><%= commande.total %></td>
			    <td> <a> Details </a></td>
			  </tr>
			<% end %>
			</table>
		</div>
	
	<% else %>
		<p> Aucune commande </p>
	<%end %>
	
	<!-- ABONNEMENT PAYE EN COURS -->
	   	<h3><i class="icon icon-basket"></i> Abonnement en cours</h3>
	
	<% if @mes_abonnements_encours.count > 0 %>
		<div class="table">
			<table class="">
			  <tr>
			    <th>panier</th>
			    <th>Client</th>
			    <th>Duree</th>
			    <th>Debut</th>
			    <th>Fin</th>
			  </tr>
			
			<% @mes_abonnements_encours.each do |abonnement| %>
			  <tr>
			  
			    <td><%= abonnement.panier.titre %></td>
			    <td><%= abonnement.client.nom %> <%= abonnement.client.prenom %></td>
			    <td><%= abonnement.duree %> mois</td>
			    <td><%= abonnement.date_debut %></td>
			    <td><%= abonnement.date_fin %></td>
			    
			  </tr>
			<% end %>
			</table>
		</div>
	<% else %>
		<p> Aucun abonnement en cours </p>
	<% end %>
	
	<br />
	
	
	
	<!-- ABONNEMENT PAYE TERMINE -->
	   	<h3><i class="icon icon-basket"></i> Abonnement terminé </h3>
	
	<% if @mes_abonnements_termine.count > 0 %>
		<div class="table">
			<table class="">
			  <tr>
			    <th>panier</th>
			    <th>Client</th>
			    <th>Duree</th>
			    <th>Debut</th>
			    <th>Fin</th>
			  </tr>
			
			<% @mes_abonnements_termine.each do |abonnement| %>
			  <tr>
			  
			    <td><%= abonnement.panier.titre %></td>
			    <td><%= abonnement.client.nom %> <%= abonnement.client.prenom %></td>
			    <td><%= abonnement.duree %> mois</td>
			    <td><%= abonnement.date_debut %></td>
			    <td><%= abonnement.date_fin %></td>
			    
			  </tr>
			<% end %>
			</table>
		</div>
	<% else %>
		<p> Aucun abonnement de termine </p>
	<% end %>
	
	<br />
	
	<br />
</div>