<div class="historique">
	<div class="page-header">
		<h1>Historique abonnements</h1>
		<ul class="buttons">
			<li class="logoff button" tool_tip="deconnexion"><span class="picture"></span></li>
			<li class="separator"></li>
			<li class="help button button_active" tool_tip="aide"><span class="picture"></span></li>        
		</ul>
	</div>
	
	
	   	<h3><i class="icon icon-basket"></i> Abonnement payé, souscrit</h3>
	
	<% if @mes_abonnements_paye.count > 0 %>
		<div class="table">
			<table class="">
			  <tr>
			    <th>panier</th>
			    <th>Client</th>
			    <th>Duree</th>
			    <th>Debut</th>
			    <th>Fin</th>
			  </tr>
			
			<% @mes_abonnements_paye.each do |abonnement| %>
			  <tr>
			  
			    <td><%= abonnement.panier.titre %></td>
			    <td><%= abonnement.client.nom %> <%= abonnement.client.prenom %></td>
			    <td><%= abonnement.duree %> mois</td>
			    <td><%= abonnement.date_debut %></td>
			    <td><%= abonnement.date_fin %></td>
			    
			  </tr>
			<% end %>
			</table>
		</div>
	<% else %>
		<p> Aucun abonnement de souscrit </p>
	<% end %>
	
	<br />
	
	
	<!-- ABONNEMENT PAYE EN COURS -->
	   	<h3><i class="icon icon-basket"></i> Abonnement payé, en cours</h3>
	
	<% if @mes_abonnements_encours.count > 0 %>
		<div class="table">
			<table class="">
			  <tr>
			    <th>panier</th>
			    <th>Client</th>
			    <th>Duree</th>
			    <th>Debut</th>
			    <th>Fin</th>
			  </tr>
			
			<% @mes_abonnements_encours.each do |abonnement| %>
			  <tr>
			  
			    <td><%= abonnement.panier.titre %></td>
			    <td><%= abonnement.client.nom %> <%= abonnement.client.prenom %></td>
			    <td><%= abonnement.duree %> mois</td>
			    <td><%= abonnement.date_debut %></td>
			    <td><%= abonnement.date_fin %></td>
			    
			  </tr>
			<% end %>
			</table>
		</div>
	<% else %>
		<p> Aucun abonnement en cours </p>
	<% end %>
	
	<br />
	
	
	
	<!-- ABONNEMENT PAYE TERMINE -->
	   	<h3><i class="icon icon-basket"></i> Abonnement payé, terminé </h3>
	
	<% if @mes_abonnements_termine.count > 0 %>
		<div class="table">
			<table class="">
			  <tr>
			    <th>panier</th>
			    <th>Client</th>
			    <th>Duree</th>
			    <th>Debut</th>
			    <th>Fin</th>
			  </tr>
			
			<% @mes_abonnements_termine.each do |abonnement| %>
			  <tr>
			  
			    <td><%= abonnement.panier.titre %></td>
			    <td><%= abonnement.client.nom %> <%= abonnement.client.prenom %></td>
			    <td><%= abonnement.duree %> mois</td>
			    <td><%= abonnement.date_debut %></td>
			    <td><%= abonnement.date_fin %></td>
			    
			  </tr>
			<% end %>
			</table>
		</div>
	<% else %>
		<p> Aucun abonnement de termine </p>
	<% end %>
	
	<br />
	
	
	
	
	<!-- ABONNEMENT ANNULE AVANT PAIEMENT -->
	   	<h3><i class="icon icon-basket"></i> Abonnement annulé avant paiement </h3>
	
	<% if @mes_abonnements_annule.count > 0 %>
		<div class="table">
			<table class="">
			  <tr>
			    <th>panier</th>
			    <th>Client</th>
			    <th>Duree</th>
			    <th>Debut</th>
			    <th>Fin</th>
			  </tr>
			
			<% @mes_abonnements_annule.each do |abonnement| %>
			  <tr>
			  
			    <td><%= abonnement.panier.titre %></td>
			    <td><%= abonnement.client.nom %> <%= abonnement.client.prenom %></td>
			    <td><%= abonnement.duree %> mois</td>
			    <td><%= abonnement.date_debut %></td>
			    <td><%= abonnement.date_fin %></td>
			    
			  </tr>
			<% end %>
			</table>
		</div>
	<% else %>
		<p> Aucun abonnement annule </p>
	<% end %>
	
	<br />
</div>