<h1>Listing users</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Entite</th>
    <th>Direction</th>
    <th>Ville</th>
    <th>Mode denvoi</th>
    <th>Genre</th>
    <th>Nom</th>
    <th>Prenom</th>
    <th>Nom societe</th>
    <th>Description</th>
    <th>Adresse</th>
    <th>Telephone</th>
    <th>Naissance</th>
    <th>Alaune</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.id %></td>
    <td><%= user.entite_id %></td>
    <td><%= user.direction_id %></td>
    <td><%= user.ville_id %></td>
    <td><%= user.mode_denvoi_id %></td>
    <td><%= user.genre %></td>
    <td><%= user.nom %></td>
    <td><%= user.prenom %></td>
    <td><%= user.nom_societe %></td>
    <td><%= user.description %></td>
    <td><%= user.adresse %></td>
    <td><%= user.telephone %></td>
    <td><%= user.naissance %></td>
    <td><%= user.alaune %></td>
    <td><%= link_to 'Plus d\'info', administration_user_path(user) %></td>
    <td><%= link_to 'Modifier', edit_administration_user_path(user) %></td>
    <td><%= link_to 'Supprimer', administration_user_path(user), confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nouvel utilisateur', new_administration_user_path %>
