		 <div class="page-header">
		 	<h1> <%= @title_user %> </h1>
		 	<ul class="buttons">
		 		<li class="stats button"><span class="picture"></span></li>
		 		<li class="edit button" title=""><span class="picture"></span></li>
		 		<li class="help button button_active"><span class="picture"></span></li>
		 	</ul>		 	
		 </div>


		 <div class="helper">
		 	<p class="title is_bold"><i class="icon ui-help_hover"></i>Gérer votre profil</p>
		 	<span class="close"><i class="icon-remove"></i></span>
		 	<p class="content">Modifier chaque éléments de votre profil en cliquant simplement dessus. Une boite de modification apparatitra alors.</p>
		 </div>			

		 <div class="user_profile">
		 	<div class="informations_card">
		 		<input type="hidden" class="user_id" value="<%= current_user.id %>" />
		 	</div>
		 	<%#= current_user.id %>
		 	<%#= notice %>
		 	<%#= @user.id %>
		 	<%#= @user.entite.nom %>
		 	<% if !@user.direction.nil?  %>
		 	<%#= @user.direction.nom %>				
		 	<% end %>
		 	<%#= @user.genre %>

		 	<%#= @user.nom_societe %>				
		 	<%#= @user.naissance %>

		 	<%#= @user.mode_denvoi_id %>
		 	<%#= @user.alaune %>
		 	<div class="pictures">
		 		<div class="has_corners_shadow is_medium is-editing"><span class="deleted_p_c"></span><span class="modify">modifier</span><%= image_tag (@user.default_image).image_url(:is_medium) if !(@user.default_image).nil? %></div>

		 		<ul>
		 			<li><div class="is_small has_corners_shadow is-editing"><span class="modify">modifier</span><span class="deleted_p_c"></span><%#= image_tag image.image_url(:is_small)%></div></li>
		 			<li><div class="is_small has_corners_shadow is-editing"><span class="modify">modifier</span><span class="deleted_p_c"></span><%#= image_tag image.image_url(:is_small)%></div></li>
		 			<li><div class="is_small has_corners_shadow is-editing"><span class="modify">modifier</span><span class="deleted_p_c"></span><%#= image_tag image.image_url(:is_small)%></div></li>
		 			<li><div class="is_small has_corners_shadow is-editing"><span class="modify">modifier</span><span class="deleted_p_c"></span><%#= image_tag image.image_url(:is_small)%></div></li>
		 			<li><span class="add button image" title="Ajouter une image"><span class="picture"></span></span></li>
		 		</ul>

		 	</div>
		 	<div class="content">
		 		<p class="title"><%= @user.prenom %>&nbsp;<%= @user.nom %></p>
		 		<p class="is_note is_italic note city"><%= (@user.ville_id.nil?) ? 'Aucune ville' :  @user.ville.cp %> <%= @user.ville.nom %></p>
		 		<p class="is_note is_italic note address"> <%= (@user.adresse.nil?) ? 'Aucune adresse' : @user.adresse  %></p>
		 		<p class="description"> <%=(@user.description.nil?) ? 'Aucune description' : @user.description  %></p>
		 		<p class="phone"><%= (@user.telephone.nil?) ? 'Aucun numéro' : @user.telephone  %></p>
		 		<p class="email"><%= (@user.email.nil?) ? 'Aucune adresse mail' : @user.email %></p>
		 	</div>
		 	<div class="clear"></div>




		 	<%#= link_to 'Modifier', edit_administration_user_path(@user), :class => "btn" %> 
		 	<%#= link_to 'Retour', administration_users_path,:class => "btn btn-inverse" %>


		 </div>	
<!-- 		 <div class="">
		 	<%= render 'form_photo' %>
		 </div>
		 <div class="">
		 	<ul>
		 		<% (@user.photo_users).each do |image| %>
		 		<li>
		 			<% @image = image %>
		 			<%= image_tag image.image_url(:is_medium) %> 
		 			<%= link_to "delete", administration_user_user_delete_image_path(current_user.id,image), :confirm => "Etes vous sur", :method => :delete %> 
		 			<span> first_image = <% if image.first_image == 1 %> Oui <% else %> Non <% end %></span> 
		 			<%= render 'update_form_photo' %>
		 		</li>
		 		<% end %>
		 	</ul> -->

		 </div>	
