		 <div class="page-header">
		 	<h1> <%= @title_user %> </h1>
		    <ul class="buttons">
		        <li class="stats button"><span class="picture"></span></li>
		        <li class="edit button"><span class="picture"></span></li>
		        <li class="help button"><span class="picture"></span></li>
		    </ul>		 	
		 </div>


		 <div class="helper">
		 	<p class="title is_bold">Gérer votre profil</p>
		 	<span class="close"><i class="icon-remove"></i></span>
		 	<p class="content">Modifier chaque éléments de votre profil en cliquant simplement dessus. Une boite de modification apparatitra alors.</p>
		 </div>			

		 <div class="user_profile">
		 	<%#= current_user.id %>
		 	<%#= notice %>
		 	<%#= @user.id %>
		 	<%#= @user.entite.nom %>
		 	<% if !@user.direction.nil?  %>
		 	<%#= @user.direction.nom %>				
		 	<% end %>
		 	<%#= @user.genre %>

		 	<%#= @user.nom_societe %>				
		 	<%#= @user.naissance %>

		 	<%#= @user.mode_denvoi_id %>
		 	<%#= @user.alaune %>
		 	<div class="has_corners_shadow is_medium"><%= image_tag (@user.default_image).image_url(:is_medium) if !(@user.default_image).nil? %></div>
		 	<div class="content">
		 		<p class="title"><%= @user.prenom %>&nbsp;<%= @user.nom %></p>
		 		<p class="is_note is_italic note location"><%= @user.ville.nom %> <%= @user.adresse %></p>
		 		<p class="description"><%= @user.description %></p>
		 		<p class="phone"><%= @user.telephone %></p>
		 		<p class="email"><%= @user.email %></p>
		 	</div>




		 	<%#= link_to 'Modifier', edit_administration_user_path(@user), :class => "btn" %> 
		 	<%#= link_to 'Retour', administration_users_path,:class => "btn btn-inverse" %>


		 </div>	
		 <div class="">
		 	<%= render 'form_photo' %>
		 </div>
		 <div class="">
		 	<ul>
		 		<% (@user.photo_users).each do |image| %>
		 		<li>
		 			<% @image = image %>
		 			<%= image_tag image.image_url(:is_medium) %> 
		 			<%= link_to "delete", administration_user_user_delete_image_path(current_user.id,image), :confirm => "Etes vous sur", :method => :delete %> 
		 			<span> first_image = <% if image.first_image == 1 %> Oui <% else %> Non <% end %></span> 
		 			<%= render 'update_form_photo' %>
		 		</li>
		 		<% end %>
		 	</ul>

		 </div>	
