<p id="notice"><%= notice %></p>

<% if @cageot.nil? %>
<p> Rien dans le panier </p>

<% else %>
	<% if @product_cageot.nil? %>
		<p> Rien dans le panier (product)</p>
	<% else %>
		<p>
		  <b>Id:</b>
		  <%= @cageot.id %>
		</p>
		
		<p>
		  <b>Client:</b>
		  <%=  "None" if @cageot.client_id.nil? %>
		</p>
		
		<p>
		  <b>Etat:</b>
		  <%= @cageot.etat %>
		</p>
		
		<h2> Produits </h2>
			<% @product_cageot.each do |pc| %>
				<p> Produit : <%= pc.produit_vente_libre.titre %> | quantité :  <%= pc.nombre_pack %>  | prix unitaire = <%= pc.produit_vente_libre.prix_unite_ttc %> | 
				Total = <%= pc.produit_vente_libre.prix_unite_ttc * pc.nombre_pack %> </p>
			
			<% end %>
	<% end %>
<% end %>

