<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @rel_cageot_produit.id %>
</p>

<p>
  <b>Produit vente libre:</b>
  <%= @rel_cageot_produit.produit_vente_libre_id %>
</p>

<p>
  <b>Cageot:</b>
  <%= @rel_cageot_produit.cageot_id %>
</p>

<p>
  <b>Nombre pack:</b>
  <%= @rel_cageot_produit.nombre_pack %>
</p>

<p>
  <b>Deleted:</b>
  <%= @rel_cageot_produit.deleted %>
</p>


<%= link_to 'Edit', edit_rel_cageot_produit_path(@rel_cageot_produit) %> |
<%= link_to 'Back', rel_cageot_produits_path %>
