<div class="l_main_gutter l_process_order step_2">

	<div class="process_sign">
		<div class="picture"></div>
		<span class="done resume">Résumé cagette</span>
		<span class="current point_choice">Choix du point relais</span>
		<span class="payment">Validation et paiement</span>
	</div>
	
	<h2> Choisissez votre point relais </h2>

	<ul class="products">			
		<li>
			<div class="raw">
				<div class="l_photo_description is_horizontal">
					<div class="image">
						<span class="radio"></span>
					</div>
					<div class="content">
						<p class="is_bold title">Ferme d'en haut</p>						
						<p class="descritpion">166 rue Léon gambetta - Saint-Omer - 59870</p>
						<p class="number">03-20-27-97-57</p>
					</div>
				</div>
			</div>
		</li>
		<li>
			<div class="raw">
				<div class="l_photo_description is_horizontal">
					<div class="image">
						<span class="radio"></span>
					</div>
					<div class="content">
						<p class="is_bold title">Ferme d'en bas</p>						
						<p class="descritpion">6 rue Léon gambetta - Saint-Omer - 59870</p>
						<p class="number">03-20-11-34-57</p>
					</div>
				</div>
			</div>
		</li>		
	</ul>

<!--	<div id="l_select_pr">
		<form id="form_select_pr" method="get" action="/process_order/select_pr">
		<ul class="l_farmer_list">
			<% @point_relais.each do |pr| %>
				<li class="l_vcard has_corners_shadow is_vcard"> <p class="description"> <input type="radio" value="<%= pr.id %>" name="point_relai[id]" /><%= pr.adresse %> <%= pr.ville.nom %> </p></li>
			<% end %>
		</ul>
		<div class="actions">
		    <span class="button" id="b_next_step"><a href="#">Proceder au paiement</a></span>
		    <% if !current_client.nil? %>
		    <input type="submit" value="Proceder au paiment" />
		    <% end %>
		</div>
		</form>
	</div>
	<% if current_client.nil? %>
		
-->		
	<div class="choice_registered">
	<h2>Êtes-vous déjà inscrits ?</h2>
		<div class="choice yes">
			<div class="radio_area"><span class="radio"></span></div>
			<div class="content">
				<p class="title">Oui</p>
				<p class="sub_title">Je me connecte</p>
				<p>via mes identifiants et termine ma commande</p>
			</div>
		</div>
		<div class="choice">
			<div class="radio_area"><span class="radio"></span></div>
			<div class="content">
				<p class="title">Non</p>
				<p class="sub_title">Je m'inscris</p>
				<p>en quelque clics et termine ma commande</p>
			</div>
		</div>

		<div class="right_arrow"></div>

		<div class="loggin">
			<div class="content">
				<p class="title">Connexion</p>
				<input type="text">
				<input type="text">
				<div class="footer">
					<span class="button"><a href="">connexion</a></span>
				</div>
			</div>
		</div>
		<br class="clear">
	</div>
	
	<div class="footer">
		<a href="" class="back">précédent</a>
		<span class="button next_step"><a href="">paiement</a></span>
	</div>

	<!-- ______________ SE CONNECTER _________________ -->
		<!--<div id="l_se_connecter" style="display:none;float:right;margin:0 0px 0">
			<h2>Se connecter</h2>
			
			<%= simple_form_for(Client.new, :as => "client", :url => session_path("client") , :html => {:class => '', :id => 'form_se_connecter' }, :remote => true) do |f| %>
			  <div class="inputs">
			    <%= f.input :email, :required => false, :autofocus => true %>
			    <%= f.input :password, :required => false %>
			  </div>
			
			  <div class="actions">
			    <%= f.button :submit, "Sign in", :class => "btn btn-primary" %>
			  </div>
			<% end %>
		
		</div>
		
		
		<!-- ______________ S'INSCRIRE _________________ -->
		<!--<div id="l_sinscrire" style="display:none;float:right;margin:0 0px 0">	
			<h2>Sign up</h2>
		
			<%= simple_form_for([:espace_client,Client.new], :html => {:class => '', :id => 'form_sinscrire' } ,:remote => true) do |f| %>
		  	<%= f.error_notification %>
		
			  <div class="inputs">
			    <%= f.input :email, :required => true, :autofocus => true, :wrap_with => {:tag => 'span',:class => 'help-inline'} %>
			    <%= f.error :email %>
			    <%= f.input :nom, :required => true, :autofocus => true %> 
			    <%= f.input :password, :required => true %>
			    <%= f.input :password_confirmation, :required => true %>
			  </div>
		
		  	 <div class="actions">
		    	<span class="button" id="b_sign_up"><a href="#">S'inscrire</a></span>
		  	 </div>
	  	
			<% end %>
		</div>
		
		<!-- ARE YOU INSCRIT -------- -->
		<!--<div id="l_areyouinscrit">
			<h2> Etes vous inscrit ?</h2>
			<form>
				<ul class="l_farmer_list">
					<li class="l_vcard has_corners_shadow is_vcard"> <p class="description"> <input class="is_inscrit" type="radio" value="oui" name="is_inscrit" /> Oui </p></li>
					<li class="l_vcard has_corners_shadow is_vcard"> <p class="description"> <input class="is_inscrit" type="radio" value="non" name="is_inscrit" /> Non </p></li>
				</ul>
			</form>
		</div>
		<br class="clear">
		
		<% end %> -->
	</div>