<h1> Le paiement a été accepté ! </h1>
<h2> Voici le recap de votre commande</h2>
<% if !@mon_abonnement.nil? %>
	<h3> Abonnement n° <%= @mon_abonnement.id %> </h3>
	<ul>
		<li> Abonnement au panier <%= @mon_abonnement.panier.titre %> de  <%= @mon_abonnement.panier.user.prenom %> </li>
		<li> Duree: <%= @mon_abonnement.duree %> mois (A partir d'aujourd'hui : <%= @mon_abonnement.date_debut %> )</li>
		<li> Date de fin <%= @mon_abonnement.date_fin %> </li>
		<li> Total = <%= @mon_abonnement.panier.prix_unite_ttc %></li>
	</ul>

<% else %>
	<h3> Commande n° <%= @ma_commande_payer.id %> </h3>
<ul>
	<% @produit_de_commande.each do |produit| %>
		<li> <%= produit.nb_pack %> <%= produit.produit_vente_libre.titre%> </li>
	<% end %>
	<li> Total = <%= @ma_commande_payer.total %></li>
</ul>
<% end %>
