<div class="l_main_gutter l_process_order step_3">

	<div class="process_sign">
		<div class="picture"></div>
		<span class="done resume">Résumé cagette</span>
		<span class="done point_choice">Choix du point relais</span>
		<span class="current payment">Validation et paiement</span>
	</div>	

<div class="resume">
	<div class="left_part">
		<p class="title">Résumé de vodive achat</p>
	</div>
	<div class="table">
		<div class="row">
			<div class="first_column">Point relais</div>
			<div class="info_column">
				<%= @mon_point_relai.adresse %> <%= @mon_point_relai.ville.nom %>
			</div>
		</div>
		<div class="row">
			<div class="first_column">Articles</div>
			<div class="info_column">
				<% @mes_produit_commande.each do |produit_c| %>
				<p> <%= produit_c.nb_pack %><%= produit_c.produit_vente_libre.titre %> </p>
				<% end %>
			</div>
		</div>
		<div class="row">
			<div class="first_column">Montant</div>
			<div class="info_column">
				<p><%= @ma_commande.total %></p>
			</div>
		</div>
	</table>
</div>

	

	<div class="paiement">
		<div class="left_part">
			<p class="title">Paiement</p>
		</div>
		<div id="l_paiement">
			<form class="form-horizontal" method="get" action="/process_order/payer_commande">
				<p> Numero de la carte <input type="text"/></p>
				<p> Date d'expiration <input type="text"/><input type="text"/></p>
				<p> Crypto <input type="text"/></p>
				<p> <input type="submit" value="Payer" class="btn btn-primary"/></p>
			</form>
		</div>
	</div>
</div>