<div class="l_main_gutter l_process_order step_3">

	<div class="process_sign">
		<div class="picture"></div>
		<span class="done resume">Résumé cagette</span>
		<span class="done point_choice">Choix du point relais</span>
		<span class="current payment">Validation et paiement</span>
	</div>	

	<div class="resume">
		<div class="left_part">
			<p class="title">Résumé de votre achat</p>
		</div>
		<div class="table">
			<table>
				<tr class="row">
					<td class="first_column">Point relais</td>
					<td class="info_column">
						<%= @mon_point_relai.adresse %> <%= @mon_point_relai.ville.nom %>
					</td>
				</tr>
				<tr class="row">
					<td class="first_column">Article(s)</td>
					<td class="info_column">
						<ul>
							<li>
								<% if !@mon_abonnement.nil? %>
									<span> Abonnement : <%= @mon_abonnement.panier.titre %> </span>
								<% else %>
									<% @mes_produit_commande.each do |produit_c| %>
										<span> <%= produit_c.nb_pack %><%= produit_c.produit_vente_libre.titre %> </span>
									<% end %>	
								<% end %>
														
							</li>
						</ul>
					</td>
				</tr>
				<tr class="row">
					<td class="first_column">Montant</td>
					<td class="info_column">
						<span><%= @ma_commande.total if !@ma_commande.nil? %> <%= @mon_abonnement.prix_ttc if !@mon_abonnement.nil? %></span>
					</td>
				</tr>
			</table>
		</div>
		<br class="clear">	
	</div>

	<div class="paiement">

		<div class="left_part">
			<p class="title">Paiement</p>
		</div>

		<div id="l_paiement">

			<form class="form-horizontal" method="get" action="/process_order/payer_commande">

				<ul>

					<li class="card_number">
						<p> Numero de la carte</p>
						<input type="text"/>
					</li>

					<li class="date">
						<p> Date d'expiration </p>
						<input class="month" type="text"/><input class="year" type="text"/>
					</li>

					<li class="crypto">
						<p> Crypto </p>
						<input type="text"/>
					</li>

				<li class="footer">
					<span class="button"> <input type="submit" value="Payer"/></span>
				</li>
				
				</ul>


			</form>
		</div>
	</div>
</div>