<div class="l_main_gutter l_process_order step_1">

	<div class="process_sign">
		<div class="picture"></div>
		<span class="current resume">Résumé cagette</span>
		<span class="point_choice">Choix du point relais</span>
		<span class="payment">Validation et paiement</span>
	</div>

	<h2>Votre cagette</h2>
	
	
	<div class="labels">
			<span class="label_description">Description</span>
			<% if !@abonnement_panier.nil? %>
			    <span class="label_quantity">Durée</span>
			<% else %>
			    <span class="label_quantity">Quantité</span>
			<% end %>
			<span class="label_price">Prix</span>	
			<br class="clear">		
		</div>
		<ul class="products">
	
	<% if !@abonnement_panier.nil? %>	
				
				<li>
				<div class="raw raw_panier" id="raw_<%= @abonnement_panier.id %>">
					<div class="l_photo_description is_horizontal">
						<div class="image">
							<div class="has_corners_shadow is_small">
								<% if !(@abonnement_panier.panier.default_image).nil? %>
						            <%= image_tag (@abonnement_panier.panier.default_image).image_url(:is_small), :itemprop => 'image' %>
						        <% end %>
							</div>
						</div>
						<div class="content">
							<p class="is_bold title"> <%= @abonnement_panier.panier.titre %>  <span class="note is_italic"> pour <%= @abonnement_panier.nombre_personne %> personne(s)</span></p>						
							<p class="descritpion">Lorem ipsum dolor et sit amet ipsum dolor et sit amet ipsum dolor et sit amet ipsum dolor et sit amet</p>
						</div>
						<div class="quantity">
							<!-- <span class="minus"></span> -->
							<span class="sum"><%= @abonnement_panier.duree %></span>
							<!--
<span class="plus"></span>
							<p style="display:block;position:absolute;top:-60px;left:0;"> 
				        	    <select name="panier[duree]" id="panier_duree" class="select optional">
				        	    <% (1..12).each do |i| %>
				        	    	<option value="<%= i %>" <% if i == @abonnement_panier.duree%> selected = "selected" <% end %>><%= i %></option>
				        	    <% end %>
								</select>
			        	    </p>
-->

						</div>						
						<div class="price">
							<span class="sum"> <%= @abonnement_panier.prix_ttc %> €</span>
							<div class="close_square"></div>
						</div>
					</div>
				</div>
			</li>			
			</ul>
			<div class="footer">
					<div class="total">
						<p>Total &nbsp;<%= @total %> €</p>
					</div>
					<span class="button next_step"><%= link_to "Etape suivante", process_order_confirmation_path %></span>
			</div>	
					 
				
	<% elsif !@listing_produit.nil? %>



				<% @listing_produit.each do |cageot| %>
					
						<li>
							<div class="raw raw_produit" id="raw_<%= cageot.id %>">
								<div class="l_photo_description is_horizontal">
									<div class="image">
										<div class="has_corners_shadow is_small">
											<% if !(cageot.produit_vente_libre.stock.default_image).nil? %>
									            <%= image_tag (cageot.produit_vente_libre.stock.default_image).image_url(:is_small), :itemprop => 'image' %>
									        <% end %>
										</div>
									</div>
									<div class="content">
										<p class="is_bold title"> <%= cageot.produit_vente_libre.titre %>  <span class="note is_italic">les <%= cageot.produit_vente_libre.quantite %>  <%= cageot.produit_vente_libre.stock.unite_mesure.abbreviation %> </span></p>						
										<p class="descritpion"> <%= cageot.produit_vente_libre.description %> </p>
									</div>
									<div class="quantity">
										<span class="minus"> </span><%= #link_to "", supp_quantite_cageot_path(panier.id), :class => "minus" 
										%> 
										<span class="sum"><%= cageot.nombre_pack %> </span>
										<span class="plus"> </span>
										<%= #link_to "", ajout_quantite_cageot_path(panier.id),:class => "plus" 
										%>
									</div>						
									<div class="price">
										<span class="sum"> <%= cageot.produit_vente_libre.prix_unite_ttc %> €</span>
										<div class="close_square"></div>
									</div>
								</div>
							</div>
						</li>
				<% end %>
				</ul>
				<div class="footer">
					<div class="total">
						<p>Total &nbsp;<%= @total %> €</p>
					</div>
					<span class="button next_step"><%= link_to "Etape suivante", process_order_confirmation_path %></span>
				</div>

	<% else %>
					<p> Aucun produit</p>
	<% end %>

			</div>
		
		
		
		
		
		
<!--		
		<div class="labels">
			<span class="label_description">Description</span>
			<span class="label_quantity">Quantité</span>
			<span class="label_price">Prix</span>	
			<br class="clear">		
		</div>
		<ul class="products">	
		
				
			
<li>
				<div class="raw">
					<div class="l_photo_description is_horizontal">
						<div class="image">
							<div class="has_corners_shadow is_small"></div>
						</div>
						<div class="content">
							<p class="is_bold title">Carottes <span class="note is_italic">le kilo</span></p>						
							<p class="descritpion">Lorem ipsum dolor et sit amet ipsum dolor et sit amet ipsum dolor et sit amet ipsum dolor et sit amet</p>
						</div>
						<div class="quantity">
							<span class="minus"></span>
							<span class="sum">5</span>
							<span class="plus"></span>
						</div>						
						<div class="price">
							<span class="sum">5€</span>
							<div class="close_square"></div>
						</div>
					</div>
				</div>
			</li>
			<li>
				<div class="raw">
					<div class="l_photo_description is_horizontal">
						<div class="image">
							<div class="has_corners_shadow is_small"></div>
						</div>
						<div class="content">
							<p class="is_bold title">Carottes <span class="note is_italic">le kilo</span></p>						
							<p class="descritpion">Lorem ipsum dolor et sit amet ipsum dolor et sit amet ipsum dolor et sit amet ipsum dolor et sit amet</p>
						</div>
						<div class="quantity">
							<span class="minus"></span>
							<span class="sum">5</span>
							<span class="plus"></span>
						</div>						
						<div class="price">
							<span class="sum">5€</span>
							<div class="close_square"></div>
						</div>
					</div>
				</div>
			</li>

		</ul>
		<div class="footer">
			<div class="total">
				<p>Total &nbsp;<%= @total %> €</p>
			</div>
			<span class="button next_step"><%= link_to "Etape suivante", process_order_confirmation_path %></span>
		</div>
-->