<h1>Listing rel_commande_produits</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Produit vente libre</th>
    <th>Commande</th>
    <th>Prix unite ht</th>
    <th>Prix unite ttc</th>
    <th>Nb pack</th>
    <th>Quantite</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @rel_commande_produits.each do |rel_commande_produit| %>
  <tr>
    <td><%= rel_commande_produit.id %></td>
    <td><%= rel_commande_produit.produit_vente_libre_id %></td>
    <td><%= rel_commande_produit.commande_id %></td>
    <td><%= rel_commande_produit.prix_unite_ht %></td>
    <td><%= rel_commande_produit.prix_unite_ttc %></td>
    <td><%= rel_commande_produit.nb_pack %></td>
    <td><%= rel_commande_produit.quantite %></td>
    <td><%= link_to 'Show', rel_commande_produit %></td>
    <td><%= link_to 'Edit', edit_rel_commande_produit_path(rel_commande_produit) %></td>
    <td><%= link_to 'Destroy', rel_commande_produit, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Rel commande produit', new_rel_commande_produit_path %>
