<h1>Listing abonnements</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Client</th>
    <th>Panier</th>
    <th>Date debut</th>
    <th>Date fin</th>
    <th>Duree</th>
    <th>Deleted</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @abonnements.each do |abonnement| %>
  <tr>
    <td><%= abonnement.id %></td>
    <td><%= abonnement.client_id %></td>
    <td><%= abonnement.panier_id %></td>
    <td><%= abonnement.date_debut %></td>
    <td><%= abonnement.date_fin %></td>
    <td><%= abonnement.duree %></td>
    <td><%= abonnement.deleted %></td>
    <td><%= link_to 'Show', abonnement %></td>
    <td><%= link_to 'Edit', edit_abonnement_path(abonnement) %></td>
    <td><%= link_to 'Destroy', abonnement, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Abonnement', new_abonnement_path %>
