<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @abonnement.id %>
</p>

<p>
  <b>Client:</b>
  <%= @abonnement.client_id %>
</p>

<p>
  <b>Panier:</b>
  <%= @abonnement.panier_id %>
</p>

<p>
  <b>Date debut:</b>
  <%= @abonnement.date_debut %>
</p>

<p>
  <b>Date fin:</b>
  <%= @abonnement.date_fin %>
</p>

<p>
  <b>Duree:</b>
  <%= @abonnement.duree %>
</p>

<p>
  <b>Deleted:</b>
  <%= @abonnement.deleted %>
</p>


<%= link_to 'Edit', edit_abonnement_path(@abonnement) %> |
<%= link_to 'Back', abonnements_path %>
