<h1>Listing produit_paniers</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Panier</th>
    <th>Stock</th>
    <th>Titre</th>
    <th>Description</th>
    <th>Quantite</th>
    <th>Deleted</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @produit_paniers.each do |produit_panier| %>
  <tr>
    <td><%= produit_panier.id %></td>
    <td><%= produit_panier.panier_id %></td>
    <td><%= produit_panier.stock_id %></td>
    <td><%= produit_panier.titre %></td>
    <td><%= produit_panier.description %></td>
    <td><%= produit_panier.quantite %></td>
    <td><%= produit_panier.deleted %></td>
    <td><%= link_to 'Show', administration_user_panier_produit_panier_path(params[:user_id],params[:id],produit_panier) %></td> <!-- ID et pas panier_id car c'est pour le render de la page show du panier -->
    <td><%= link_to 'Edit', edit_administration_user_panier_produit_panier_path(params[:user_id],params[:id],produit_panier) %></td>
    <td><%= link_to 'Destroy', administration_user_panier_produit_panier_path(params[:user_id],params[:id],produit_panier), confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Produit panier', new_administration_user_panier_produit_panier_path(params[:user_id],params[:id]) %>
