<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @produit_panier.id %>
</p>

<p>
  <b>Panier:</b>
  <%= @produit_panier.panier_id %>
</p>

<p>
  <b>Stock:</b>
  <%= @produit_panier.stock_id %>
</p>

<p>
  <b>Titre:</b>
  <%= @produit_panier.titre %>
</p>

<p>
  <b>Description:</b>
  <%= @produit_panier.description %>
</p>

<p>
  <b>Quantite:</b>
  <%= @produit_panier.quantite %>
</p>

<p>
  <b>Deleted:</b>
  <%= @produit_panier.deleted %>
</p>


<%= link_to 'Edit', edit_administration_user_panier_produit_panier_path(params[:user_id],params[:panier_id],@produit_panier) %> |
<%= link_to 'Back', administration_user_panier_produit_panier_path(params[:user_id],params[:panier_id]) %>
