<li>
    <div class="l_photo_description is_horizontal">
      <div class="image">
        <div class="has_corners_shadow is_small">
        	<%= link_to page_produit_show_path(product.stock.user,product) do %>
        		<%= image_tag (product.stock.default_image).image_url(:is_small) if !(product.stock.default_image).nil? %>
        	<% end %>
        </div>
      </div>
      <div class="content">
        <p class="note is_bold title"> <%= link_to product.titre, page_produit_show_path(product.stock.user,product) %> </p>
        <p class="note "><%= product.stock.categorie.nom %></p>
        <div class="close_square" id="produit_panier_<%= product.id %>"></div>
      </div>
    </div>
 </li>
