<div class="page-header">
 <h1>Listing paniers</h1>
 <ul class="buttons">
    <li class="stats button"><span class="picture"></span></li>
    <li class="add button"><span class="picture"></span></li>
    <li class="help button"><span class="picture"></span></li>        
</ul>
</div>

<div class="helper">
    <p class="title is_bold">Gérer vos paniers</p>
  <span class="close"><i class="icon-remove"></i></span>
  <p class="content">Modifier chaque éléments d'un panier en cliquant simplement dessus. Une boite de modification apparatitra alors.</p>
</div>


<div class="cards">
    <div class="card fade in one">
        <div class="left_area">
        </div>
        <div class="right_area">
        </div>
        <div class="clear"></div>
    </div>
    <div class="card fade in one">
        <div class="left_area">
        </div>
        <div class="right_area">
        </div>
        <div class="clear"></div>
    </div>
    <div class="card fade in one">
        <div class="left_area">
        </div>
        <div class="right_area">
        </div>
        <div class="clear"></div>
    </div>
</div>

<% if @panier.nil? %>

<% else %>
<table class="table table-striped">
  <tr>
    <th>Id</th>
    <th>Revendeur</th>
    <th>Categorie</th>
    <th>Titre</th>
    <th>Description</th>
    <th>Nb pack</th>
    <th>Prix unite ht</th>
    <th>Prix unite ttc</th>
    <th>Alaune</th>
    <th>Deleted</th>
    <th></th>
    <th></th>
    <th></th>
</tr>


<% @paniers.each do |panier| %>
<tr>
    <td><%= panier.id %></td>
    <td><%= panier.revendeur_id %></td>
    <td><%= panier.categorie.nom %></td>
    <td><%= panier.titre %></td>
    <td><%= panier.description %></td>
    <td><%= panier.nb_pack %></td>
    <td><%= panier.prix_unite_ht %></td>
    <td><%= panier.prix_unite_ttc %></td>
    <td><%= panier.alaune %></td>
    <td><%= panier.deleted %></td>
    <td><%= link_to 'Show', administration_user_panier_path(params[:user_id],panier) %></td>
    <td><%= link_to 'Edit', edit_administration_user_panier_path(params[:user_id],panier) %></td>
    <td><%= link_to 'Destroy', administration_user_panier_path(params[:user_id],panier), confirm: 'Are you sure?', method: :delete %></td>
</tr>
<% end %>
</table>
<% end %>

<br />

<%= link_to 'New Panier', new_administration_user_panier_path(params[:user_id]) %>
