<div class="page-header">
   <h1>Listing paniers</h1>
   <ul class="buttons">
	<li class="logoff button" tool_tip="deconnexion"><span class="picture"></span></li>
	<li class="separator"></li>   	
    <li class="stats button"  tool_tip="statistiques"><span class="picture"></span></li>
    <li class="help button button_active"  tool_tip="aide"><span class="picture"></span></li>        
	<li class="separator"></li>    
    <li class="add button" tool_tip="ajouter un panier"><span class="picture"></span></li>
</ul>
</div>

<div id="statistiques">
	<div id="div_graph">
		<h3> Chiffre d'affaire de l'année </h3>
		<div id="graph">
		</div>
	</div>
	<div class="div_camembert">
	<h3> Chiffre d'affaire du mois </h3>
		<div id="camembert" >
		</div>
	</div>
	<div class="clear"></div>
	<ul class="legend">
		<li class="basket"><span class="square"></span><span class="label">Vente en panier </span></li>
		<li class="detail"><span class="square"></span><span class="label">Vente au détail</span></li>
	</ul>
</div>

<div class="helper">
    <p class="title is_bold"><i class="icon ui-help_hover"></i>Gérer vos paniers</p>
    <span class="close"><i class="icon-remove"></i></span>
    <p class="content">Modifier chaque éléments d'un panier en cliquant simplement dessus. Une boite de modification apparatitra alors.</p>
</div>

<% if @paniers.nil? %>

<% else %>

<% @paniers.each do |panier| %>
<%= render :partial => "card_panier", :locals => {:panier => panier} %>
<% end %>

<% end %>


<div class="lightbox_wrapper lightbox_new_basket has-menu">
	<!-- _______________ form for connexion ____________ -->
	<div class="lightbox lightbox_form_new_basket">
		<div class="header">
			<h1 class="title"> Nouveau panier </h1>
		</div>
		<div class="loggin" id="">
			<style>
			.formulaire_add
			{

			}
			.etape_2,.etape_3,.title_2,.title_3
			{
				display: none;
			}
			</style>
			<div class="content">
				<ul class="navigation">
					<li><span class="current"><span class="number">1</span> Description</span></li>
<!--
					<li><span><span class="number">2</span> Stock</span></li>
					<li><span><span class="number">3</span> En rayon</span></li>
-->
				</ul>
				<h2 class="title title_1"> Description </h2>
<!--
				<h2 class="title title_2"> Stock </h2>
				<h2 class="title title_3"> En rayon </h2>
-->
				<%= simple_form_for([:administration,User.find(params[:user_id]),Panier.new],:html => {:class => 'form-horizontal' }) do |f| %>
				  <%= f.error_notification %>
				
				  <div class="form-inputs">
				  	
				  	<% if current_user.can_stock_sr %>
				  		<div class="formulaire_add etape_1">
							<div class="modal-body">
				  				<%= f.association :categorie, :collection => Categorie.all.map{|c| [c.nom, c.id]} %>
				  				<%= f.input :titre %>
				  				<%= f.input :description %>
							</div>
							<div class="clear"></div>
							<div class="form-actions modal-footer">
								<span class="annuler close_lightbox" > Annuler </span>
								<span class="button next_step" ><a>  Suivant  </a> </span>
							</div>
				  		</div>
				  	<% elsif current_user.can_stock_ar %>
				  		<div class="formulaire_add etape_1">
							<div class="modal-body">
						  		<%= f.association :panier_autorise, :collection => PanierAutorise.where(:user_id => current_user.direction.id).map{ |pa| [pa.titre, pa.id] } %>
						  		<%= f.input :titre %>
				  				<%= f.input :description %>
				  			</div>
				  			<div class="clear"></div>
				  			<div class="form-actions modal-footer">
								<span class="annuler close_lightbox" > Annuler </span>
								<span class="button next_step" ><a>  Suivant  </a> </span>
							</div>
				  		</div>
				  	<% end %>
				  	
				  </div>
				
				  
				<% end %>

		</div>
	</div>


<!--
<% if @panier.nil? %>

<% else %>
<table class="table table-striped">
  <tr>
    <th>Id</th>
    <th>Revendeur</th>
    <th>Categorie</th>
    <th>Titre</th>
    <th>Description</th>
    <th>Nb pack</th>
    <th>Prix unite ht</th>
    <th>Prix unite ttc</th>
    <th>Alaune</th>
    <th>Deleted</th>
    <th></th>
    <th></th>
    <th></th>
</tr>


<% @paniers.each do |panier| %>
<tr>
    <td><%= panier.id %></td>
    <td><%= panier.revendeur_id %></td>
    <td><%= panier.categorie.nom %></td>
    <td><%= panier.titre %></td>
    <td><%= panier.description %></td>
    <td><%= panier.nb_pack %></td>
    <td><%= panier.prix_unite_ht %></td>
    <td><%= panier.prix_unite_ttc %></td>
    <td><%= panier.alaune %></td>
    <td><%= panier.deleted %></td>
    <td><%= link_to 'Show', administration_user_panier_path(params[:user_id],panier) %></td>
    <td><%= link_to 'Edit', edit_administration_user_panier_path(params[:user_id],panier) %></td>
    <td><%= link_to 'Destroy', administration_user_panier_path(params[:user_id],panier), confirm: 'Are you sure?', method: :delete %></td>
</tr>
<% end %>
</table>
<% end %>
-->

<br />

<%= #link_to 'New Panier', new_administration_user_panier_path(params[:user_id]) 
	
%>