<div class="page-header">
 <h1>Listing paniers</h1>
 <ul class="buttons">
    <li class="stats button"><span class="picture"></span></li>
    <li class="add button"><span class="picture"></span></li>
    <li class="help button"><span class="picture"></span></li>        
</ul>
</div>

<div class="helper">
    <p class="title is_bold">Gérer vos paniers</p>
    <span class="close"><i class="icon-remove"></i></span>
    <p class="content">Modifier chaque éléments d'un panier en cliquant simplement dessus. Une boite de modification apparatitra alors.</p>
</div>


<div class="card_stack">

    <div class="packaging">
        <div class="header">
            <h2 class="title">Mon petit panier</h2>
            <ul class="buttons_card">

                <%#= link_to edit_administration_user_stock_path(params[:user_id],stock) do %> 
                <li class="edit button" title="modifier"><span class="picture"></span></li>
                <%# end %> 

                <%#= link_to administration_user_stock_path(params[:user_id],stock), confirm: 'Are you sure?', method: :delete do %>
                <li class="delete button" title="supprimer"><span class="picture"></span></li>
                <%# end %>
            </ul>
            <div class="clear"></div>
        </div>
        <div class="body">
            <p class="description">Description lorem ipsum dolor et sit amet</p>          
        </div>
        <div class="footer">
            <ul class="main-informations">
                <li><span class="number is_bold">8</span><span class="icon members"></span></li>
                <li><span class="number is_bold">4</span><span class="icon pictures"></span></li>
                <li><span class="number is_bold">7</span><span class="icon products"></span></li>
            </ul>
            <ul class="details">
                <li class="detail">
                    <span class="label">Max</span>
                    <span class="number is_bold">200</span>
                </li>
                <li class="detail">
                    <span class="label">Format</span>
                    <ul class="number">
                        <li>2</li>
                        <li>4</li>
                        <li>6</li>
                    </ul>
                </li>
                <li class="detail">
                    <span class="label">Durée</span>
                    <ul class="number">
                        <li>3</li>
                        <li>6</li>
                        <li>9</li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

    <div class="card fade in one"><div class="left_area"></div><div class="right_area"></div></div>
    <div class="card fade in two"><div class="left_area"></div><div class="right_area"></div></div>
    <div class="card fade in three">
        <div class="left_area">
            <div class="is_small has_corners_shadow"></div>
            <div class="picture first_cloumn"></div> 
            <div class="picture"></div>
            <div class="picture first_cloumn"></div>
            <div class="picture"></div>
        </div>
        <div class="right_area">
        </div>
    </div>

</div>
<!--
<% if @panier.nil? %>

<% else %>
<table class="table table-striped">
  <tr>
    <th>Id</th>
    <th>Revendeur</th>
    <th>Categorie</th>
    <th>Titre</th>
    <th>Description</th>
    <th>Nb pack</th>
    <th>Prix unite ht</th>
    <th>Prix unite ttc</th>
    <th>Alaune</th>
    <th>Deleted</th>
    <th></th>
    <th></th>
    <th></th>
</tr>


<% @paniers.each do |panier| %>
<tr>
    <td><%= panier.id %></td>
    <td><%= panier.revendeur_id %></td>
    <td><%= panier.categorie.nom %></td>
    <td><%= panier.titre %></td>
    <td><%= panier.description %></td>
    <td><%= panier.nb_pack %></td>
    <td><%= panier.prix_unite_ht %></td>
    <td><%= panier.prix_unite_ttc %></td>
    <td><%= panier.alaune %></td>
    <td><%= panier.deleted %></td>
    <td><%= link_to 'Show', administration_user_panier_path(params[:user_id],panier) %></td>
    <td><%= link_to 'Edit', edit_administration_user_panier_path(params[:user_id],panier) %></td>
    <td><%= link_to 'Destroy', administration_user_panier_path(params[:user_id],panier), confirm: 'Are you sure?', method: :delete %></td>
</tr>
<% end %>
</table>
<% end %>

<br />

<%= link_to 'New Panier', new_administration_user_panier_path(params[:user_id]) %>
-->