<div class="page-header">
  <h1>Historique d'achat</h1>
  <ul class="buttons"></ul>
</div>

<div class="l_main_gutter commandes">
  <h3><i class="icon icon-product"></i> Mes commandes </h3>
  <div class="table">
    <table class="">
      <tr>
      	<th> Date de commande </th>
      	<th> Date de livraison </th>
        <th> Point Relai </th>
        <th> Etat de la commande </th>
        <th> Total</th>
        <th> Informations </th>
      </tr>
      <tr>
      	<td> 7/09/2012</td>
        <td> 12/09/2012</td>
        <td> 10 Rue nationale, Lille</td>
        <td> Payé, préparation de la commande </td>
        <td> 25 €</td>
        <td> <span class=""> <a> Details </a> </span></td>
      </tr> 
      <tr>
        <td> 26/06/2012</td>
        <td> 30/06/2012</td>
        <td> 10 Rue nationale, Lille</td>
        <td> Envoyé </td>
        <td> 52 €</td>
        <td> <span class=""> <a> Details </a> </span></td>
      </tr>   
      <tr>
      	<td> 04/01/2012</td>
        <td> 10/01/2012</td>
        <td> 10 Rue nationale, Lille</td>
        <td> Envoyé </td>
        <td> 120 €</td>
        <td> <span class=""> <a> Details </a> </span></td>
      </tr>
  
    </table>
  </div>

  <h3><i class="icon icon-basket"></i> Mes abonnements en cours (Paniers)</h3>
  <% if @abonnements_en_cours.nil? %>
	 <p> Aucun panier en cours </p>
  <% else %>
  		<% if @abonnements_en_cours.count > 0 %>
			  <div class="table">
			  	 <table class="">
				  <tr>
			      	<th> Panier </th>
			      	<th> Nombre de personnes </th>
			        <th> Date de début </th>
			        <th> Date de fin </th>
			        <th> Point Relai </th>
			        <th> Total</th>
			      </tr>
			    
			    <% @abonnements_en_cours.each do |abonnement| %>
			      <tr>
			      	<td> <%= abonnement.panier.titre %> </td>
			      	<td> <%= abonnement.nombre_personne %> </td>
			        <td> <%= abonnement.date_debut %> </td>
			        <td> <%= abonnement.date_fin %> </td>
			        <td> <%= abonnement.point_relai.adresse %> <%= abonnement.point_relai.ville.nom %> </td>
			        <td> <%= abonnement.prix_ttc %></td>
			      </tr>
			     <% end %>   
			    </table>
			  </div>
		<% else %>
			<p> Aucun panier en cours </p>
		<% end %>
  <% end %>
  
  
  <h3><i class="icon icon-basket"></i> Mes abonnements passés (Paniers)</h3>
  <% if @abonnements_termines.nil?  %>
  	<p> Aucun abonnements terminés </p>
  <% else %>
	<% if @abonnements_termines.count > 0 %>
		  <div class="table">
		    <table class="">
		      <tr>
		      	<th> Panier </th>
		      	<th> Nombre de personnes </th>
		        <th> Date de début </th>
		        <th> Date de fin </th>
		        <th> Point Relai </th>
		        <th> Total</th>
		      </tr>
			   <% @abonnements_termines.each do |abonnement| %>
			      <tr>
			      	<td> <%= abonnement.panier.titre %> </td>
			      	<td> <%= abonnement.nombre_personne %> </td>
			        <td> <%= abonnement.date_debut %> </td>
			        <td> <%= abonnement.date_fin %> </td>
			        <td> <%= abonnement.point_relai.adresse %> <%= abonnement.point_relai.ville.nom %> </td>
			        <td> <%= abonnement.prix_ttc %></td>
			      </tr>
			   <% end %>    
		    </table>
	<% else %>
	  	<p> Aucun abonnements terminés </p>
	<% end %>
   <% end %>
  </div>

</div>