<div class="page-header">
   	<h1> Statistiques </h1>
   	<input type="hidden" name="id_user_stats" id="id_user_stats" value="<%= current_user.id %>"/>
</div>

<div id="statistiques" style="background: none repeat scroll 0 0 #F6F1EA;">
	<div id="camembert" >
	</div>
	<div id="graph">
	</div>
</div>




<div class="page-header">
   	<h1> Liste de mes produits en vente </h1>
</div>


<table class="table table-striped">
  <tr>
    <th>Stock</th>
    <th>Titre</th>
    <th>Description</th>
    <th>Quantite</th>
    <th>Nombre pack</th>
    <th>Prix unite ht</th>
    <th>Prix unite ttc</th>
    <th>Alaune</th>
    <th>Deleted</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @produit_vente_libres.each do |produit_vente_libre| %>
  <tr>
    <td><%= produit_vente_libre.stock_id %></td>
    <td><%= produit_vente_libre.titre %></td>
    <td><%= produit_vente_libre.description %></td>
    <td><%= produit_vente_libre.quantite %></td>
    <td><%= produit_vente_libre.nombre_pack %></td>
    <td><%= produit_vente_libre.prix_unite_ht %></td>
    <td><%= produit_vente_libre.prix_unite_ttc %></td>
    <td><%= produit_vente_libre.alaune %></td>
    <td><%= produit_vente_libre.deleted %></td>
    <td><%= link_to 'Plus d\'info', administration_user_produit_vente_libre_path(params[:user_id],produit_vente_libre) %></td>
    <td><%= link_to 'Modifier', edit_administration_user_produit_vente_libre_path(params[:user_id],produit_vente_libre), :id => "produit_vente_libre_#{produit_vente_libre.id}", :class => "modifier_product", :remote => true, "data-toggle" =>"modal" %></td>
    <td><%= link_to 'Supprimer', administration_user_produit_vente_libre_path(params[:user_id],produit_vente_libre), confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nouveau Produit vente libre', new_administration_user_produit_vente_libre_path(params[:user_id]), :remote => true,"data-toggle" =>"modal", :class => "button-add btn btn-primary", :id => "user_#{params[:user_id]}" %>


<div class="modal" id="light_box">
</div>