<div class="page-header">
	<h1>Nouvel article</h1>
	<ul class="buttons">
		<li class="logoff button" tool_tip="deconnexion"><span class="picture"></span></li>
		<li class="separator"></li>
		<li class="help button button_active" tool_tip="aide"><span class="picture"></span></li>        
	</ul>
</div>	
<div class="helper">
	<p class="title is_bold"><i class="icon ui-help_hover"></i>Rédaction d'articles</p>
	<span class="close"><i class="icon-remove"></i></span>
	<ul class="content">
		<li><span class="is_bold">Créer un article</span> depuis la barre d'action située en haut de la page, en cliquant sur le bouton ajouter.</li>
		<li><span class="is_bold">Modifier un article</span> depuis son billet, en cliquant sur le bouton au crayon.</li>
		<li><span class="is_bold">Supprimer un article</span> depuis son billet, en cliquant sur le bouton rouge à la corbeille.</li>
	</ul>
</div>


<input type="hidden" class="user_id" value="<%= current_user.id %>" />

	<%= simple_form_for @categorie_blog, 
    	:url => url_for(:action => :update_categorie, :controller => 'administration/blog'),
    	:method => 'post' do |f| %>
    	
    	
    	<%= f.input :categorie_blog_id, :collection => CategorieBlog.where('categorie_blog_id = NULL || categorie_blog = "0"').map { |r| [r.titre, r.id] }, :label => "Categorie", :include_blank => false %>
    	<%= f.input :titre %>
    	<%= f.input :description %>
    	
    	<%= f.input :submit %>
		
	<% end %>
	
</div>