
	<li class="card fade in">
		<div class="left_area">
			<div class="is_small has_corners_shadow" <% if (stock.default_image).nil? %> style="opacity:0;" <% end %>><%= image_tag (stock.default_image).image_url(:is_small) if !(stock.default_image).nil? %></div>
			<% if !stock.other_image.nil? %>
				<% i = 0 %>
				<% stock.other_image.each do |image| %>
					<% if i%2 == 0 %>
						<div class="picture first_cloumn"> <%= image_tag (image).image_url(:is_small) %> </div>
					<% else %> 
						<div class="picture"> <%= image_tag (image).image_url(:is_small) %> </div>
					<% end %>
					<% i+=1 %>
				<% end %>
			<% end %>
			<span class="add button image" id="stock_id_<%= stock.id %>" title="Ajouter une image"><span class="picture"></span></span>
		</div>
		<div class="right_area">
			<div class="informations_card">
				<input type="hidden" class="user_id" value="<%= current_user.id %>" />
				<input type="hidden" class="id_stock" value="<%= stock.id %>" />
				<input type="hidden" class="id_produit_vente_libre" value="<%= stock.produit_vente_libre.id if stock.produit_vente_libre %>" />
			</div>
			<div class="header">
				<h2 class="title"><%= stock.titre %></h2>
				<ul class="buttons_card">
					<%= link_to administration_user_stock_path(params[:user_id],stock) do %>
					<li class="historique button" title="historique"><span class="picture"></span></li>
					<% end %>

					
					<li class="edit button" title="modifier"><span class="picture"></span></li>

					<li class="delete button" title="supprimer" id="stock_id_<%= stock.id %>"><span class="picture"></span></li>
				</ul>
				<div class="clear"></div>
			</div>
			<div class="body">
				<p class="description"><%= stock.description %></p>          
			</div>
			<div class="footer">
				<ul>
					<li class="details prix">
						<span class="label">Prix:</span>
						<span class="value"> 
							<% if stock.produit_vente_libre %>
							<% if (stock.produit_vente_libre.prix_unite_ttc).to_int == (stock.produit_vente_libre.prix_unite_ttc) %>
							<%= ((stock.produit_vente_libre.prix_unite_ttc).to_int).to_s %> <span class='is_italic'> € </span>
							<% else %>
							<%= ((stock.produit_vente_libre.prix_unite_ttc)).to_s %> <span class='is_italic'> € </span>
							<% end %>
							<% else  %>
							Aucun prix defini
							<% end %>

						</span>
					</li>
					<li class="details unite_mesure">
						<span class="label">Unité:</span>
						<span class="value"> 
							<%= stock.unite_mesure.nom %> 
						</span>
					</li>
					<li class="details quantite_lot">
						<span class="label">Vendu par lots de :</span>
						<span class="value">
							<% if stock.produit_vente_libre %>
							<%= (stock.produit_vente_libre.quantite).to_int %> <span class="is_italic info_unite_mesure_id">( <%= stock.unite_mesure.nom %>)</span> 
							<%	else %>
							Aucun lot en vente actuellement
							<%	end %>
						</span>
					</li>
					<li class="details nombre_pack">
						<span class="label">Lots en boutique:</span>
						<span class="value"> 
							<% if stock.produit_vente_libre %>
							<%= (stock.produit_vente_libre.nombre_pack) %> <span class="is_italic">/ <%= (stock.produit_vente_libre.lotPossibleMax) %> (max)</span> 
							<%	else %>
							Aucun lot en vente actuellement
							<%	end %>
						</span>
					</li>
					<li class="details stock_total">
						<span class="label">Stock total:</span>
						<span class="value"> <%= (stock.quantite).to_int %> <span class="is_italic info_unite_mesure_id">(<%= stock.unite_mesure.nom %>)</span></span>
					</li>
					<div class="clear"></div>
				</ul>
			</div>
		</div>
		<div class="clear"></div>
	</li>
<!-- 	<div class="clear"></div> -->
