<div class="page-header">
	<h1>Stock: produits</h1>
	<ul class="buttons">
		<li class="logoff button" tool_tip="deconnexion"><%= link_to user_logout_path() , :method => 'delete' do %> <span class="picture"> </span> <% end %></li>
		<li class="separator"></li>
		<li class="stats button" tool_tip="statistiques"><span class="picture"></span></li>
		<li class="help button button_active" tool_tip="aide"><span class="picture"></span></li>        
		<li class="separator"></li>
		<li class="add button" tool_tip="ajouter un produit"><span class="picture"></span></li>
	</ul>
</div>

<div id="statistiques">
	<div id="div_graph">
		<h3> Chiffre d'affaire de l'année </h3>
		<div id="graph">
		</div>
	</div>
	<div class="div_camembert">
	<h3> Chiffre d'affaire du mois </h3>
		<div id="camembert" >
		</div>
	</div>
	<div class="clear"></div>
	<ul class="legend">
		<li class="basket"><span class="square"></span><span class="label">Vente en panier </span></li>
		<li class="detail"><span class="square"></span><span class="label">Vente au détail</span></li>
	</ul>
</div>

<div class="helper">
	<p class="title is_bold"><i class="icon ui-help_hover"></i>Gérer vos produits</p>
	<span class="close"><i class="icon-remove"></i></span>
	<p class="content">Modifier chaque éléments d'un produit en cliquant simplement dessus. Une boite de modification apparatitra alors.</p>
</div>

<ul class="cards">
	<% @stocks.each do |stock| %>
	<%= render :partial => 'card', :locals => {:stock => stock} %>
<% end %>
</ul>

<div class="lightbox_wrapper lightbox_new_stock has-menu">
	<!-- _______________ form for connexion ____________ -->
	<div class="lightbox lightbox_form_new_stock">
		<div class="header">
			<h1 class="title"> Nouveau produit </h1>
		</div>
		<div class="loggin" id="">
			<style>
			.formulaire_add
			{

			}
			.etape_2,.etape_3,.title_2,.title_3
			{
				display: none;
			}
			</style>
			<div class="content">
				<ul class="navigation">
					<li><span class="current"><span class="number">1</span> Description</span></li>
					<li><span><span class="number">2</span> Stock</span></li>
					<li><span><span class="number">3</span> En rayon</span></li>
				</ul>
				<h2 class="title title_1"> Description </h2>
				<h2 class="title title_2"> Stock </h2>
				<h2 class="title title_3"> En rayon </h2>
				<%= simple_form_for([:administration, current_user, @stock_new], :remote => true,:html => {:class => 'form-horizontal' }) do |f| %>
				<%= f.error_notification %>
				
				<div class="form-inputs">

					<% if current_user.can_stock_ar %>
					<div class="formulaire_add etape_1">
						<div class="modal-body">
							<%= f.input :id_user_input, :as => :hidden, :input_html => { :value => params[:user_id] } %>
							<%= f.association :produit_autorise,:collection=>ProduitAutorise.where(:user_id => current_user.direction_id).map{|pa| [pa.titre,pa.id]}, :include_blank => false %>
							<%= f.input :titre %>
							<%= f.input :description,:input_html => { :rows => "10" } %>
						</div>
						<div class="clear"></div>
						<div class="form-actions modal-footer">
							
							<span class="annuler close_lightbox" > Annuler </span>
							<span class="button next_step" ><a>  Suivant  </a> </span>
							<%= #f.button :submit, :type => :button,:value => "Suivant",:class => "next_step btn-primary"  
								
							%>
						</div>
					</div>

					<div class="formulaire_add etape_2">
						<div class="modal-body">
							<%= f.association :unite_mesure, :collection => UniteMesure.all.map{ |um| [um.nom,um.id]}, :label => "Unite de mesure", :include_blank => false %>
							<%= f.input :quantite %>
						</div>
						<div class="clear"></div>
						<div class="form-actions modal-footer">
							<span class="previous_step " >  Retour </span>
							<span class="button next_step" ><a>  Suivant  </a> </span>
							<%= #f.button :submit, :type => :button,:value => "Retour", :class => "previous_step btn"  
								 #f.button :submit, :type => :button,:value => "Suivant",:class => "next_step btn-primary"  
							%>
						</div>

					</div>
					<% elsif current_user.can_stock_sr %>
					<div class="formulaire_add etape_1">
						<div class="modal-body">
							<%= f.association :categorie, :collection => Categorie.all.map{ |c| [c.nom,c.id]}, :label => "Catégorie", :include_blank => false %>			
							<%= f.input :titre %>
							<%= f.input :description %>
						</div>
						<div class="clear"></div>
						<div class="form-actions modal-footer">
							<%= f.button :submit, :type => :button,:value => "Suivant",:class => "next_step btn-primary"  %>
						</div>
					</div>

					<div class="formulaire_add etape_2">
						<div class="modal-body">
							<%= f.association :unite_mesure, :collection => UniteMesure.all.map{ |um| [um.nom,um.id]}, :label => "Unite de mesure", :include_blank => false %>
							<%= f.input :quantite %>
						</div>
						<div class="clear"></div>
						<div class="form-actions modal-footer">
							<span class="previous_step " >  Retour </span>
							<span class="button next_step" ><a>  Suivant  </a> </span>
							<%= #f.button :submit, :type => :button,:value => "Retour", :class => "previous_step btn"  
								#f.button :submit, :type => :button,:value => "Suivant",:class => "next_step btn-primary"  
							 %>
						</div>
					</div>
					<% end %>




					<div class="formulaire_add etape_3">
						<div class="modal-body">
							<div class="control-group float optional">
								<label class="float optional control-label" for="produit_vente_libre_prix_unite_ht">  Image du produit </label>
								<div class="controls">
									<%= file_field(:photo_stock, :image) %>
								</div>
							</div>
							<div class="control-group float optional">
								<label class="float optional control-label" for="produit_vente_libre_prix_unite_ht">  Quantite de chaque lot </label>
								<div class="controls">
									<%= text_field(:produit_vente_libre, :quantite) %>
								</div>
							</div>

							<div class="control-group float optional">
								<label class="float optional control-label" for="produit_vente_libre_prix_unite_ht">  Nombre de lot en ligne </label>
								<div class="controls">
									<%= text_field(:produit_vente_libre, :nombre_pack) %>
								</div>
							</div>

					    <div class="control-group float optional">
					    	<label class="float optional control-label" for="produit_vente_libre_prix_unite_ht">  Prix unite ttc </label>
					    	<div class="controls">
					    		<%= text_field(:produit_vente_libre, :prix_unite_ttc) %>
					    	</div>
					    </div>
					</div>
					<div class="clear"></div>
					<div class="form-actions modal-footer">
						<span class="previous_step " >  Retour </span>
							<span class="button next_step" ><a>  Ajouter  </a> </span>
						<%= #f.button :submit, :type => :button, :value => "Retour", :class => "previous_step btn" 
						 #f.button :submit, :type => :button, :value => "Ajouter", :class => "next_step btn-primary"
						  %>
					</div>

				</div>

			</div>

			<% end %>


		</div>
	</div>
</div>





