<div class="page-header">
	<h1>Stock: produits</h1>
	<ul class="buttons">
		<li class="stats button"><span class="picture"></span></li>
		<li class="add button"><span class="picture"></span></li>
		<li class="help button"><span class="picture"></span></li>        
	</ul>
</div>

<div class="helper">
	<p class="title is_bold"><i class="icon ui-help_hover">Gérer vos produits</p>
	<span class="close"><i class="icon-remove"></i></span>
	<p class="content">Modifier chaque éléments d'un produit en cliquant simplement dessus. Une boite de modification apparatitra alors.</p>
</div>

<!-- <div class="table">
    <table class="">
      <tr>
    <!--     <th>Id</th>
     --><!--     <th>User</th> 
        <th>Titre</th>
        <!-- <th>Categorie</th> 
        <th> Mis en Rayon</th>
        <th>Description</th>
        <!-- <th>Deleted</th> 
        <th></th>
        <th></th>
        <th></th>
      </tr>
    
    <% @stocks.each do |stock| %>
      <tr>
    <!--     <td><%= stock.id %></td>
     --><!--     <td><%= stock.user_id %></td>

        <td><%= stock.titre %> <span class="type is_italic">(<%= stock.unite_mesure.abbreviation %>)</span></td>
    <!--     <td><%= stock.categorie_id %></td> 
        <td> <%= stock.quantiteProduitVente.to_int %> / <%= stock.quantite.to_int %> </td>
        <td><%= stock.description %></td>
        <!-- <td><%= stock.deleted %></td> 
        <td class="action">
          <ul class="buttons_card">
            
            <%= link_to administration_user_stock_path(params[:user_id],stock) do %>
            	<li class="historique button" title="historique"><span class="picture"></span></li>
            <% end %>
            
            <%= link_to edit_administration_user_stock_path(params[:user_id],stock) do %> 
              <li class="edit button" title="modifier"><span class="picture"></span></li>
            <% end %>            
            
            <%= link_to administration_user_stock_path(params[:user_id],stock), confirm: 'Are you sure?', method: :delete do %>
            	<li class="delete button" title="supprimer"><span class="picture"></span></li>
            <% end %>
          </ul>          
        </td>
      </tr>
    <% end %>
    </table>
</div> -->

<%#= link_to 'Nouveau Stock', new_administration_user_stock_path %>


<ul class="cards">
	<% @stocks.each do |stock| %>
		<%= render :partial => 'card', :locals => {:stock => stock} %>
	<!--
<li class="card fade in">
		<div class="left_area">
			<div class="is_small has_corners_shadow"></div>
			<div class="picture first_cloumn"></div> 
			<div class="picture"></div>
			<div class="picture first_cloumn"></div>
			<div class="picture"></div>
		</div>
		<div class="right_area">
			<div class="informations_card">
				<input type="hidden" class="user_id" value="<%= current_user.id %>" />
				<input type="hidden" class="id_stock" value="<%= stock.id %>" />
				<input type="hidden" class="id_produit_vente_libre" value="<%= stock.produit_vente_libre.id if stock.produit_vente_libre %>" />
			</div>
			<div class="header">
				<h2 class="title"><%= stock.titre %></h2>
				<ul class="buttons_card">
					<%= link_to administration_user_stock_path(params[:user_id],stock) do %>
					<li class="historique button" title="historique"><span class="picture"></span></li>
					<% end %>

					
					<li class="edit button" title="modifier"><span class="picture"></span></li>
					

					<%= link_to administration_user_stock_path(params[:user_id],stock), confirm: 'Are you sure?', method: :delete do %>
					<li class="delete button" title="supprimer"><span class="picture"></span></li>
					<% end %>
				</ul>
				<div class="clear"></div>
			</div>
			<div class="body">
				<p class="description"><%= stock.description %></p>          
			</div>
			<div class="footer">
				<ul>
					<li class="details prix">
						<span class="label">Prix:</span>
						<span class="value"> 
							<% if stock.produit_vente_libre %>
							<% if (stock.produit_vente_libre.prix_unite_ttc).to_int == (stock.produit_vente_libre.prix_unite_ttc) %>
							<%= ((stock.produit_vente_libre.prix_unite_ttc).to_int).to_s %> <span class='is_italic'> € </span>
							<% else %>
							<%= ((stock.produit_vente_libre.prix_unite_ttc)).to_s %> <span class='is_italic'> € </span>
							<% end %>
							<% else  %>
							Aucun prix defini
							<% end %>

						</span>
					</li>
					<li class="details unite_mesure">
						<span class="label">Unité:</span>
						<span class="value"> 
							<%= stock.unite_mesure.nom %> 
						</span>
					</li>
					<li class="details quantite_lot">
						<span class="label">Vendu par lots de :</span>
						<span class="value">
							<% if stock.produit_vente_libre %>
							<%= (stock.produit_vente_libre.quantite).to_int %> <span class="is_italic info_unite_mesure_id">( <%= stock.unite_mesure.nom %>)</span> 
							<%	else %>
							Aucun lot en vente actuellement
							<%	end %>
						</span>
					</li>
					<li class="details nombre_pack">
						<span class="label">Lots en boutique:</span>
						<span class="value"> 
							<% if stock.produit_vente_libre %>
							<%= (stock.produit_vente_libre.nombre_pack) %> <span class="is_italic">/ <%= (stock.produit_vente_libre.lotPossibleMax) %> (max)</span> 
							<%	else %>
							Aucun lot en vente actuellement
							<%	end %>
						</span>
					</li>
					<li class="details stock_total">
						<span class="label">Stock total:</span>
						<span class="value"> <%= (stock.quantite).to_int %> <span class="is_italic info_unite_mesure_id">(<%= stock.unite_mesure.nom %>)</span></span>
					</li>
					<div class="clear"></div>
				</ul>
			</div>
		</div>
		<div class="clear"></div>
	</li>
	<div class="clear"></div>
-->
	<% end %>
</ul>

<div class="lightbox_wrapper lightbox_new_stock">
  <!-- _______________ form for connexion ____________ -->
  <div class="lightbox lightbox_form_new_stock">
    <div class="header">
      <h1 class="title"> Nouveau produit </h1>
    </div>
      <div class="loggin" id="">
			<style>
				.formulaire_add
				{
					
				}
				.etape_2,.etape_3,.title_2,.title_3
				{
					display: none;
				}
			</style>
			<div class="content">
			    <h2 class="title title_1"> Choix du produit </h2>
			    <h2 class="title title_2"> Definition du stock </h2>
			    <h2 class="title title_3"> Mis en ligne </h2>
				<%= simple_form_for([:administration, current_user, @stock_new], :remote => true,:html => {:class => 'form-horizontal well' }) do |f| %>
				  <%= f.error_notification %>
				
				  <div class="form-inputs">
    	
    	
				    <% if current_user.can_stock_ar %>
				    	<div class="formulaire_add etape_1">
				    		<div class="modal-body">
						    	<%= f.input :id_user_input, :as => :hidden, :input_html => { :value => params[:user_id] } %>
								<%= f.association :produit_autorise,:collection=>ProduitAutorise.where(:user_id => current_user.direction_id).map{|pa| [pa.titre,pa.id]}, :include_blank => false %>
								<%= f.input :titre %>
						    	<%= f.input :description,:input_html => { :rows => "10" } %>
				    		</div>
				    		<div class="form-actions modal-footer">
					    		<%= f.button :submit, :type => :button,:value => "Suivant",:class => "next_step btn-primary"  %>
					    	</div>
				    	</div>
				    	
				    	<div class="formulaire_add etape_2">
				    		<div class="modal-body">
					    		<%= f.association :unite_mesure, :collection => UniteMesure.all.map{ |um| [um.nom,um.id]}, :label => "Unite de mesure", :include_blank => false %>
					    		<%= f.input :quantite %>
				    		</div>
				    		<div class="form-actions modal-footer">
						    	<%= f.button :submit, :type => :button,:value => "Retour", :class => "previous_step btn"  %>
					    		<%= f.button :submit, :type => :button,:value => "Suivant",:class => "next_step btn-primary"  %>
					    	</div>
				    		
				    	</div>
				    <% elsif current_user.can_stock_sr %>
				        <div class="formulaire_add etape_1">
				        	<div class="modal-body">
					        	<%= f.association :categorie, :collection => Categorie.all.map{ |c| [c.nom,c.id]}, :label => "Catégorie", :include_blank => false %>			
					        	<%= f.input :titre %>
					        	<%= f.input :description %>
				        	</div>
				        	
				        	<div class="form-actions modal-footer">
					    		<%= f.button :submit, :type => :button,:value => "Suivant",:class => "next_step btn-primary"  %>
					    	</div>
				        </div>
				        
				        <div class="formulaire_add etape_2">
				    		<div class="modal-body">
				    			<%= f.association :unite_mesure, :collection => UniteMesure.all.map{ |um| [um.nom,um.id]}, :label => "Unite de mesure", :include_blank => false %>
				    			<%= f.input :quantite %>
				    		</div>
				    		<div class="form-actions modal-footer">
						    	<%= f.button :submit, :type => :button,:value => "Retour", :class => "previous_step btn"  %>
					    		<%= f.button :submit, :type => :button,:value => "Suivant",:class => "next_step btn-primary"  %>
					    	</div>
				        </div>
				    <% end %>
				    
				    

				    		
				    <div class="formulaire_add etape_3">
				    	<div class="modal-body">
				    	<div class="control-group float optional">
					    		<label class="float optional control-label" for="produit_vente_libre_prix_unite_ht">  quantite de chaque lot </label>
					    			<div class="controls">
					    				<%= file_field(:photo_stock, :image) %>
					    			</div>
					    	</div>
					    	<div class="control-group float optional">
					    		<label class="float optional control-label" for="produit_vente_libre_prix_unite_ht">  quantite de chaque lot </label>
					    			<div class="controls">
					    				<%= text_field(:produit_vente_libre, :quantite) %>
					    			</div>
					    	</div>
					    	
					    	<div class="control-group float optional">
					    		<label class="float optional control-label" for="produit_vente_libre_prix_unite_ht">  nombre de lot en ligne </label>
					    			<div class="controls">
					    				<%= text_field(:produit_vente_libre, :nombre_pack) %>
					    			</div>
					    	</div>
					    	
					    	<!--
<div class="control-group float optional">
					    		<label class="float optional control-label" for="produit_vente_libre_prix_unite_ht">  prix unite ht </label>
					    			<div class="controls">
					    				<%= text_field(:produit_vente_libre, :prix_unite_ht) %>
					    			</div>
					    	</div>
-->
					    	
					    	<div class="control-group float optional">
					    		<label class="float optional control-label" for="produit_vente_libre_prix_unite_ht">  prix unite ttc </label>
					    			<div class="controls">
					    				<%= text_field(:produit_vente_libre, :prix_unite_ttc) %>
					    			</div>
					    	</div>
				    	</div>
				    	<div class="form-actions modal-footer">
						    	<%= f.button :submit, :type => :button, :value => "Retour", :class => "previous_step btn"  %>
					    		<%= f.button :submit, :type => :button, :value => "Ajouter", :class => "next_step btn-primary" %>
					    	</div>
				    	
				    </div>
				    
				  </div>
				
				<% end %>
				

    </div>
  </div>
</div>





