<div class="page-header">
   	<h1>Stock de <%= @stock.titre %></h1>
</div>

<p id="notice"><%= notice %></p>
<p> info = <%= @stock.unite_mesure_info %></p>
<p>
  <b>Id:</b>
  <%= @stock.id %>
</p>

<p>
  <b>User:</b>
  <%= @stock.user.nom %>
</p>

<p>
  <b>Categorie:</b>
  <%= @stock.categorie.nom %>
</p>

<p>
  <b>Unite mesure:</b>
  <%= @stock.unite_mesure.abbreviation %>
</p>

<p>
  <b>Quantite:</b>
  <%= @stock.quantite %>
</p>

<p>
  <b>Titre:</b>
  <%= @stock.titre %>
</p>

<p>
  <b>Description:</b>
  <%= @stock.description %>
</p>

<p>
  <b>Deleted:</b>
  <%= @stock.deleted %>
</p>


<%= link_to 'Modifier', edit_administration_user_stock_path(params[:user_id],@stock) %> |
<%= link_to 'Retour', administration_user_stocks_path %>

<div class="well">
		<%= render 'form_photo' %>
</div>
<div class="well">
	<ul>
		<% (@stock.photo_stocks).each do |image| %>
			<li>
				<% @image = image %>
				<%= image_tag image.image_url(:is_medium) %>
				<%= link_to "delete", administration_user_stock_delete_image_path(current_user.id,@stock,image), :confirm => "Etes vous sur", :method => :delete %> 
				<span> first_image = <% if image.first_image == 1 %> Oui <% else %> Non <% end %></span> 
				<%= render 'update_form_photo' %>
			</li>
		<% end %>
	</ul>

</div>	