<h1>Changer son mot de passe</h1>
<p id="notice"><%= notice %></p>
<%= simple_form_for([:espace_client,@client]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
 
    <%= f.input :actual_password, :label => "Ancien mot de passe" %>
    
	<%= f.input :reset_password_token, :as => :hidden %>
  	<%= f.full_error :reset_password_token %>

    <%= f.input :password, :label => "Nouveau mot de passe", :required => true %>
    <%= f.input :password_confirmation, :label => "Confirmation nouveau mot de passe", :required => true %>
  </div>

  </div>

  <div class="form-actions">
    <%= f.button :submit, :value => "Changer" %>
  </div>
<% end %>


<%= link_to 'Show', [:espace_client,@client] %> |
<%= link_to 'Back', espace_client_clients_path %>
