<h1>Listing clients</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Genre</th>
    <th>Nom</th>
    <th>Prenom</th>
    <th>Adresse</th>
    <th>Ville</th>
    <th>Code postal</th>
    <th>Pays</th>
    <th>Telephone</th>
    <th>Naissance</th>
    <th>Newsletter</th>
    <th>Point relai</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @clients.each do |client| %>
  <tr>
    <td><%= client.id %></td>
    <td><%= client.genre %></td>
    <td><%= client.nom %></td>
    <td><%= client.prenom %></td>
    <td><%= client.adresse %></td>
    <td><%= client.ville %></td>
    <td><%= client.code_postal %></td>
    <td><%= client.pays %></td>
    <td><%= client.telephone %></td>
    <td><%= client.naissance %></td>
    <td><%= client.newsletter %></td>
    <td><%= client.point_relai_id %></td>
    <td><%= link_to 'Show', [:espace_client,client] %></td>
    <td><%= link_to 'Edit', edit_espace_client_client_path(client) %></td>
    <td><%= link_to 'Destroy', [:espace_client,client], confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Client', new_espace_client_client_path %>
