<!DOCTYPE html>
<html>
<head>
  <title>ECommerce</title>
  <!-- ___________________________ CSS __________________________________ -->
  <%= stylesheet_link_tag    "bootstrap-responsive", :media => "all" %>
  <%= stylesheet_link_tag    "bootstrap", :media => "all" %>
  <%= stylesheet_link_tag    "scaffolds", :media => "all" %>
  <%= stylesheet_link_tag    "users", :media => "all" %>
  <%= stylesheet_link_tag    "produit_vente_libres", :media => "all" %>
  
  
  
  
  <%= javascript_include_tag "jquery-1.7.1.min" %>
  <%= javascript_include_tag "bootstrap" %>
  <%= javascript_include_tag 'jquery_ujs' %>
 
   <%= javascript_include_tag 'produit_vente_libres' %>
    <%= javascript_include_tag 'stocks' %>

	<%= javascript_include_tag :defaults%>
  <%= csrf_meta_tags %>
  
  <style>
  	@media (min-width:980px){
	  		body{
	  			padding-top: 60px;
	  		}
  	}
  </style>
</head>
<body>


	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</a>
			
				<% if current_client %>
				<%= link_to "Administration", espace_client_client_path(current_client.id)	, :class => "brand" %>
				<div class="nav-collapse"> 
					<ul class="nav">
						<li> <%= link_to "Mes infos" , espace_client_client_path(current_client.id) %></li>
							
						<li><%= link_to "deconnexion", client_logout_path() , :method => 'delete' %></li>
						<li>  <%= link_to "Retour au site", page_produit_index_path %></li>
					</ul>
				</div>
				<% end %>
				
				
			</div>
		</div>
	
	</div>
	
	
	<div class="container">
	
		<%= yield %>
	
	</div>
</body>
</html>
