
<!DOCTYPE html>
<html>

<head>
  <title>Jardins Lillois, ventes aux détails et de paniers </title>
  <!-- ___________________________ CSS __________________________________ -->
  <%= stylesheet_link_tag    "bootstrap-responsive", :media => "all" %>
  <%= stylesheet_link_tag    "bootstrap", :media => "all" %>
  <%#= stylesheet_link_tag    "users", :media => "all" %>
  <%#= stylesheet_link_tag    "produit_vente_libres", :media => "all" %>
  <%#= stylesheet_link_tag    "main", :media => "all" %>
  <%#= stylesheet_link_tag 'screen.css', :media => 'screen, projection' %>
  <%#= stylesheet_link_tag 'print.css', :media => 'print' %>
  <!--[if IE]><%#= stylesheet_link_tag 'ie.css', :media => 'screen, projection' %><![endif]-->
  <%= stylesheet_link_tag    "main" %>

<link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
<link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" />
  <!--[if IE]> <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" /><![endif]-->

  <%= javascript_include_tag "jquery-1.7.1.min" %>
  <%= javascript_include_tag "bootstrap" %>
  <%= javascript_include_tag 'jquery_ujs' %>
  
  <%= javascript_include_tag 'affichage_infos' %>
  <%= javascript_include_tag 'lightbox' %>
  <%= javascript_include_tag 'formulaire_seconnecter' %>
  <%= javascript_include_tag 'formulaire_sinscrire' %>
  
  <%= #javascript_include_tag 'produit_vente_libres' 

  %>
  <%= javascript_include_tag 'stocks' %>
  <%= javascript_include_tag 'page_front' %>
  <%= javascript_include_tag 'page_revendeur' %>
  <%= javascript_include_tag 'page_panier' %>
  <%= javascript_include_tag 'process_order' %>
  
  <%= javascript_include_tag 'page_produit' %>
  
  
  <%= csrf_meta_tags %>
</head>

<body>


<header>

  <div class="l_header_wrapper">


    <div class="logo"><div class="link"><%= link_to "",root_path %></div></div>

    
    <div class="l_nav">

      <div class="l_nav_element l_dual_sign">
        <div class="dropdown">

        <div class="dropdown product">
<!--           <a href="#" class="dropdown-toggle l_link product" data-toggle="dropdown"> -->
          <%= link_to page_produit_index_path, :class => "l_link product" do %>
          	<span></span>Produits
<!--           	</a> -->
          <% end %>
          <!--
<ul class="dropdown-menu dropdown_menu">
          <li> <%= link_to "Tous",page_produit_index_path %> </li>
            <% Categorie.all.each do |categorie| %>
            <li class="dropdown_arrow"><span class="inner_arrow"></span><span class="outer_arrow"></span></li>
              <li> <%= link_to categorie.nom,page_produit_index_by_categorie_path(categorie.id) %> </li>
            <% end %>
          </ul>
-->
        </div>
          <%= link_to page_panier_index_path,:class => "l_link basket" do %>
            <span></span>Paniers
          <% end %>
         </div>
         
      </div>

      <div class="l_nav_element l_single_sign">
        <div class="dropdown">
          <%= link_to page_revendeur_index_path, :class => "l_link farmer" do %>
            <span></span>Agriculteur
          <% end %>
        </div>
      </div>

      <div class="l_nav_element l_dual_sign">
        <div class="dropdown">
          <%= link_to blog_article_index_path, :class => "dropdown-toggle l_link blog" do %>
          	<span></span>Le Blog
          <% end %>
        </div>
        <div class="dropdown">
          <%= link_to a_propos_path, :class => "dropdown-toggle l_link about_us" do %>
          	<span></span>Nous
          <% end %>
        </div>
      </div>

    </div>

    <div class="sunshine"><span class="ray_of_sunshine"></span><span class="round_of_sunshine"></span></div>




    <div class="box box-login">
      <div class="login">
        <span class="user"></span>
        <% if current_client.nil? %>
          <span class="sign_in"><a>connexion</a></span>&nbsp;/&nbsp;<span class="sign_up"><a>inscription</a></span>
        <% else %>
          <span class="sign_in connected"><%= link_to "Mes infos" , espace_client_client_path(current_client.id) %></span>&nbsp;/&nbsp;
          <span class="sign_up connected"><%= link_to "deconnexion", client_logout_path() , :method => 'delete' %></span>
        <% end %>
       
      </div>

      <div class="social">
        <ul>
          <li class="facebook"><a href="http://www.facebook.com/pages/Jardins-Lillois/354696607875089?ref=hl"><span></span></a></li>
          <li class="twitter"><a href="http://twitter.com/Jardinlillois"><span></span></a></li>
          <li class="googleplus"><a href="http://plus.google.com/u/0/109278550242932283566/posts/p/pub"><span></span></a></li>
          <li class="newsletter"><a href=""><span></span></a></li>
          <br class="clear">
        </ul>  
      </div>
    </div>


  </div>
 


  <!-- <% if !current_client.nil? %>
      <% if can? :update, Client.find(current_client.id) %>
        <li class="dropdown">
          <a href="" class="dropdown-toggle" data-toggle="dropdown"> Espace Client <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li> <%= link_to "Mes infos",espace_client_client_path(current_client.id) %> </li>
            <li> <%= link_to "Se deconnecter", client_logout_path(), :method => 'delete' %> </li>
          </ul>
        </li>
      <% end %>
    <% else %>
      <li> <%= link_to "Se connecter",new_client_session_path() %> </li>
    <% end %>-->

  <div class="grass"></div>

    <div class="clouds">
      <div class="little_clouds">
        <!--<span class="cloud one"></span>-->
        <!--<span class="cloud two"></span>-->
      </div>
      <div class="big_clouds">
        <!--<span class="cloud one"></span>-->
      </div>
    </div>

</header>
<div class="ground_top"></div>

<div class="lightbox_wrapper lightbox_information">
  <div class="lightbox">
    <div class="header">
      <h1 class="title">Inscription</h1>
    </div>
    <div class="content">
      <h2 class="title">Oups... il y a une erreur</h2>
      <p>Lorem ispum dolor et sit ame Lorem ispum dolor et sit ame Lorem ispum dolor et sit ame </p>
    </div>
    <div class="footer">
      <!-- <span class="annuler">annuler</span> -->
      <span class="button close_lightbox"><a> Merci pour l'infos</a></span>
    </div>
  </div>
</div>



<div class="lightbox_wrapper lightbox_connexion_inscription">
  <!-- _______________ form for connexion ____________ -->
  <div class="lightbox lightbox_form_connexion">
    <div class="header">
      <h1 class="title">Connexion</h1>
    </div>
      <div class="loggin" id="lightbox_se_connecter">
      <div class="content">
          <h2 class="title">Connexion</h2>
        <%= simple_form_for(Client.new, :as => "client", :url => session_path("client") , :html => {:class => '', :id => 'form_se_connecter_lightbox' }, :remote => true) do |f| %>
          <%= f.input :email, :required => false, :autofocus => true %>
            <%= f.input :password, :required => false %>
      </div>

      <div class="footer">
          <span class="annuler">annuler</span>
        <span class="button" id="lightbox_sign_in"><a>Se connecter</a></span>
      </div>
        <% end %>
    </div>
  </div>
  
  <!-- _______________ form for inscription ____________ -->
  <div class="lightbox lightbox_form_inscription">
    <div class="header">
      <h1 class="title">Inscription</h1>
    </div>
    <div class="content">
      <div class="loggin" id="lightbox_se_connecter">
      <div class="content">
          <h2 class="title">Connexion</h2>
         <%= simple_form_for([:espace_client,Client.new], :html => {:class => '', :id => 'form_sinscrire_lightbox' } ,:remote => true) do |f| %>
          <%= f.error_notification %>

          <%= f.input :email, :required => true, :autofocus => true, :wrap_with => {:tag => 'span',:class => 'help-inline'} %>
            <%= f.error :email %>
            <%= f.input :nom, :required => true, :autofocus => true %> 
            <%= f.input :password, :required => true %>
            <%= f.input :password_confirmation, :required => true %>
      </div>

      <div class="footer">
          <span class="annuler">annuler</span>
        <span class="button" id="lightbox_sign_up"><a>S'inscrire</a></span>
      </div>
        <% end %>
    </div>
    </div>
    
  </div>
</div>

<div class="l_wrapper no_border frontoffice">
  

  <%= yield %>

</div>
<% #---- MODULE AJOUTE --- %> 
<% product_cageot %>
<div class="dock bg-height_70" <% if @product_cageot.count == 0 %> style="display:none" <% end %>">
  <div class="l_dock_wrapper">
    <ul>
    <% if @cageot != nil %> 
      <% if @product_cageot.count != 0 %>
        <% @product_cageot.each do |product_cageot| %>
          <li id="<%= product_cageot.id %>" >
          <% if !product_cageot.produit_vente_libre.stock.default_image.nil? %>
            <%= link_to page_produit_show_path(product_cageot.produit_vente_libre.user,product_cageot.produit_vente_libre) do %>
                <%= image_tag (product_cageot.produit_vente_libre.stock.default_image).image_url(:is_small), :class => "has_corners_shadow is_small" %>
              <% end %>
          <% else %>
            <img src="<%= product_cageot.produit_vente_libre.stock.default_image %>" class="has_corners_shadow is_small"> 
          <% end %>
            <span class="nombre_pack_p_c"> <%= product_cageot.nombre_pack %> </span> 
            <span class="deleted_p_c"></span>
            <div class="plus_btn">
                  <span class="plus_quantite_p_c"></span>
              </div>
            <div class="minus_btn">
                  <span class="moins_quantite_p_c"></span>
              </div>
          </li>
        <% end %>
    <% end %>
  <% end %>      
      <!-- <li><img src="" class=has_corners_shadow is_small"></li>
      <li><img src="" class="has_corners_shadow is_small"></li>
      <li><img src="" class="has_corners_shadow is_small"></li> -->
    </ul>
    <div class="checkout">
      <span class="price"> <% if @product_cageot.count != 0 %> <%= @total_cageot %> <% else %> 0 <% end %> €</span>
      <span class="button"><%= link_to "Acheter !",process_order_resume_path %></span>
    </div>
  </div>
</div>

<div class="footer_wrapper">
  <ul>
    <li class="is_box product">
      <span class="icon"></span>
      <span class="title">Produits</span>
      <ul>
        <li><a href="">Boeuf</a></li>
        <li><a href="">Volaille</a></li>
        <li><a href="">Lapin</a></li>
        <li><a href="">Canards et oies</a></li>
        <li><a href="">Produits laitiers</a></li>
        <li><a href="">Fruits et légumes</a></li>
      </ul>
    </li>
    <li class="is_box basket">
      <span class="icon"></span>      
      <span class="title">Paniers</span>
      <ul>
        <li><a href="">Boeuf</a></li>
        <li><a href="">Volaille</a></li>
        <li><a href="">Lapin</a></li>
        <li><a href="">Canards et oies</a></li>
        <li><a href="">Produits laitiers</a></li>
        <li><a href="">Fruits et légumes</a></li>        
      </ul>
    </li>
    <li class="is_box about_us">
      <span class="icon"></span>      
      <span class="title">Nous</span>
      <ul>
        <li><%= link_to "À propos", mentions_legales_path %> </li>
        <li> <%= link_to "Le blog", blog_article_index_path %></li> 
        <li><a href="">Contact</a></li>
        <li> <%= link_to "Mention légales", mentions_legales_path %></li>
        <li> <%= link_to "Conditions générales de vente", conditions_generales_path %> </li>         
      </ul>
    </li>
    <li class="is_box social">
      <span class="icon"></span>          
      <span class="title">Suivez nous</span>
      <ul>
        <li><a href="">Newsletter</a></li>
        <li class="facebook"><a href="http://www.facebook.com/pages/Jardins-Lillois/354696607875089?ref=hl">Facebook</a></li>
        <li class="twitter"><a href="http://twitter.com/Jardinlillois">Twitter</a></li>
        <li class="googleplus"><a href="http://plus.google.com/u/0/109278550242932283566/posts/p/pub">Google +</a></li>      
      </ul>
    </li>
  </ul>
</div>
<div class="overall_shadow"></div>

</body>
</html>